In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import datetime
from tqdm import tqdm
desired_width=320

ModuleNotFoundError: No module named 'plotly'

In [ ]:
###########SQL stukje###########
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
chunks = pd.read_sql('Select * From pnt_locatie',con=engine,chunksize=1000)

#sqldataset = pd.read_sql('SELECT * FROM table', con=conn, chunksize=100)

sqldataset = pd.DataFrame()
for chunk in tqdm(chunks):
    sqldataset = pd.concat([sqldataset, chunk])

sqldatasetboor = pd.read_sql_query("Select * From boor_locatie where boor_id = '132'",engine)
#print(sqldatasetboor)

def radiusbepaler (dataset,meters):
    #radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
    endlist= pd.DataFrame()
    def GradenNaarMeters(meters):
        graden = (meters / 30.92) / 3600
        return graden
    for row in dataset:
        boorid = endlist["BoorID"] = dataset.loc[:, 'boor_id']
        locatie = endlist["Locatie"] = dataset.loc[:, 'locatie']
        maxlon = endlist["MaxLon"] = dataset.loc[:, 'boor_lon'] + GradenNaarMeters(meters)
        minlon = endlist["MinLon"] = dataset.loc[:, 'boor_lon'] - GradenNaarMeters(meters)
        maxlat = endlist["MaxLat"] = dataset.loc[:, 'boor_lat'] + GradenNaarMeters(meters)
        minlat = endlist["MinLat"] = dataset.loc[:, 'boor_lat'] - GradenNaarMeters(meters)
    return endlist
#print(radiusbepaler(sqldatasetboor,100))

def meetpuntenkoppelen(datasetmeetpunten,datasetboorlocatie,radius):
    #deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
    punten = []
    meting = radiusbepaler(datasetboorlocatie,radius)
    for index, row in datasetmeetpunten.iterrows():
        for lijstje_index, lijstje_row in meting.iterrows() :
            if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and  row['pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat'] :
                boorid = lijstje_row['BoorID']
                locatie = lijstje_row['Locatie']
                minlon = lijstje_row['MinLon']
                maxlon = lijstje_row['MaxLon']
                minlat = lijstje_row['MinLat']
                maxlat = lijstje_row['MaxLat']
                pnt_id = row['pnt_id']
                pnt_lon = row['pnt_lon']
                pnt_lat = row['pnt_lat']
                punten.append([boorid,locatie,minlon,maxlon,minlat,maxlat,pnt_id,pnt_lon,pnt_lat])
    return pd.DataFrame(punten,columns=['boorid','locatie','minlon','maxlon','minlat','maxlat','pnt_id','pnt_lon','pnt_lat'])

#########vana dit punt is er verandering in vergelijking met mike.py#########

#Dit is een tijdelijke work around voor niet schone data, dus punten waar je alleen de coordinaten hebt maar bijvoorbeeld niet de locatie en boornummer
grondwaterontrekkinggebied = pd.DataFrame({"boor_lon":[6.85581],"boor_lat":[52.35096],"Locatie":['N/A'],"boor_id":["N/A"]})
#dit zijn de instellingen
datameetpunten = meetpuntenkoppelen(sqldataset,sqldatasetboor,100)
print(datameetpunten)