### Stappen te doorlopen

0. Maak de filename met het pad erbij zodat hij hem goed kan ophalen. Dit is voor iedereen anders en wordt later gefixt
1. Begin met een gewone dataframe van de csv 
2. Replace de d_ in de datum kolommen
3. Maak een temp dataframe met alleen de datum kolommen
4. Verander de namen van de datum kolommen naar date
5. Voeg de 'pnt_id' kolom van de oorspronkelijke csv toe aan de temp
6. Maak van de temp een dataframe waarbij de datum kolommen values worden 
7. Verander de kolom namen van de temp dataframe
8. Selecteer het id van de betreffende satelliet
9. Maak een nieuwe kolom 'sat_id' met het betreffende id en voeg die toe aan de dataframe

In [42]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [126]:
# Filename is zelf invulbaar 
bestandsnaam = "prov_overijssel_groningen_rsat2_dsc_xf_v4_ds_lage_punten"

In [120]:
def bestand(bestandsnaam):
    """Deze funtie verwijderd de lage streepjes uit een bestandsnaam"""
    nieuwbestand = bestandsnaam.replace("_", " ")
    return nieuwbestand

In [121]:
def get_type(invoer):
    """Deze functie bepaalt het type(HPA,HPD etc) op basis van de invoer"""
    #Als ascending, ds en hoge in invoer zit, return HDA
    if (' env ' in invoer or ' v3 ' in invoer):
        if ' ds ' in invoer:
            return 'DD'
        elif ' ps ' in invoer:
            return 'PD'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    elif ' asc ' in invoer:
        if ' ds ' in invoer:
            if ' hoge ' in invoer:
                return 'HDA'
            #Als dit niet zo is, return LDA
            elif ' lage ' in invoer:
                return 'LDA'
            else :
                raise ValueError('Geen goede bestandsnaam!')
        #Als er hoge, ps en asc inzit, return HPA
        elif ' hoge ' in invoer:
            return 'HPA'
        elif ' lage ' in invoer:
            return 'LPA'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    #Als er ds, hoge en andere lage inzit, return HDD of LDD
    elif ' ds ' in invoer:
        if ' hoge ' in invoer:
            return 'HDD'
        elif ' lage ' in invoer:
            return 'LDD'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    #Als er hoge inzit, return HPD
    elif ' hoge ' in invoer:
        return 'HPD'
    #anders, return LPD
    elif ' lage ' in invoer:
        return 'LPD'
    else:
        raise ValueError('Geen goede bestandsnaam!')

In [122]:
def get_satelliet(invoer):
    #Als rsat2 in de naam zit, return rsatxf
    if 'rsat2' in invoer:
        return 'rsatxf'
    #Als rsat3 in de naam zit, return rsat3
    elif 'rsat3' in invoer:
        return 'rsat3'
    #Anders is het automatisch env
    else:
        return 'env'

In [127]:
def convert_dataframe_datums(filename) :
    # 0. Maak de filename met het pad erbij zodat hij hem goed kan ophalen
    # Dit is voor iedereen anders en wordt later gefixt
    # file is het pad plus de filename. Het pad is zelf invulbaar.
    file = "D:\Documents\Data Science\PROJECT\data_grondwaterontrekking\\" + filename + ".csv"
    # 1. Begin met een gewone dataframe van de csv 
    original_df = pd.read_csv(file)
    # 2. Replace de d_ in de datum kolommen
    original_df.columns = original_df.columns.str.replace('d_', '')
    # 3. Maak een temp dataframe met alleen de datum kolommen
    temp = original_df.iloc[:,9:-2]
    # 4. Verander de namen van de datum kolommen naar date
    temp.columns = pd.to_datetime(temp.columns).date
    # 5. Voeg de 'pnt_id' kolom van de oorspronkelijke csv toe aan de temp
    temp['pnt_id'] = original_df['pnt_id']
    # 6. Maak van de temp een dataframe waarbij de datum kolommen values worden
    temp = temp.set_index('pnt_id').stack().reset_index()
    # 7. Verander de kolom namen van de temp dataframe
    result = temp.rename(columns={'level_1':'datum', 0:'meting'})
    # 8. Selecteer het id van de betreffende satelliet 
    satname = get_satelliet(bestand(filename))
    sattype = get_type(bestand(filename))
    query = "SELECT sat_id FROM satelliet WHERE sat_naam = '" + satname + "' AND type ='" + sattype +"'"
    sat_id = pd.read_sql_query(query, engine).iloc[0, 0]
    # 9. Maak een nieuwe kolom 'sat_id' met het betreffende id en voeg die toe aan de dataframe
    result['sat_id'] = sat_id
    return result

In [124]:
converted_df = convert_dataframe_datums(bestandsnaam)

In [125]:
converted_df

                 pnt_id       datum  meting  sat_id
0        L430248P130599  2016-12-04  0.0000       8
1        L430248P130599  2016-12-28  0.0054       8
2        L430248P130599  2017-01-21  0.0016       8
3        L430248P130599  2017-02-14  0.0062       8
4        L430248P130599  2017-03-10 -0.0018       8
5        L430248P130599  2017-04-03  0.0079       8
6        L430248P130599  2017-04-27  0.0012       8
7        L430248P130599  2017-05-21  0.0064       8
8        L430248P130599  2017-06-14  0.0057       8
9        L430248P130599  2017-07-08  0.0053       8
10       L430248P130599  2017-08-01  0.0034       8
11       L430248P130599  2017-08-25  0.0027       8
12       L430248P130599  2017-09-18 -0.0030       8
13       L430248P130599  2017-10-12  0.0012       8
14       L430248P130599  2017-11-05 -0.0019       8
15       L430248P130599  2017-11-29 -0.0031       8
16       L430248P130599  2017-12-23 -0.0027       8
17       L430248P130599  2018-01-16 -0.0073       8
18       L430248P130599  2018-02-09  0.0067       8
19       L430248P130599  2018-03-05  0.0019       8
20       L430248P130599  2018-03-29  0.0029       8
21       L430248P130599  2018-04-22  0.0036       8
22       L430248P130599  2018-05-16  0.0041       8
23       L430248P130599  2018-06-09  0.0031       8
24       L430248P130599  2018-07-03  0.0048       8
25       L430248P130599  2018-07-27  0.0045       8
26       L430248P130599  2018-08-20  0.0091       8
27       L430248P130599  2018-09-13  0.0049       8
28       L430248P130599  2018-10-07  0.0031       8
29       L430248P130599  2018-10-31  0.0078       8
...                 ...         ...     ...     ...
1031557     L530751P828  2016-12-28 -0.0025       8
1031558     L530751P828  2017-01-21 -0.0032       8
1031559     L530751P828  2017-02-14 -0.0086       8
1031560     L530751P828  2017-03-10 -0.0044       8
1031561     L530751P828  2017-04-03 -0.0036       8
1031562     L530751P828  2017-04-27 -0.0036       8
1031563     L530751P828  2017-05-21  0.0003       8
1031564     L530751P828  2017-06-14 -0.0010       8
1031565     L530751P828  2017-07-08 -0.0001       8
1031566     L530751P828  2017-08-01  0.0026       8
1031567     L530751P828  2017-08-25 -0.0014       8
1031568     L530751P828  2017-09-18 -0.0058       8
1031569     L530751P828  2017-10-12  0.0015       8
1031570     L530751P828  2017-11-05  0.0014       8
1031571     L530751P828  2017-11-29  0.0003       8
1031572     L530751P828  2017-12-23 -0.0006       8
1031573     L530751P828  2018-01-16 -0.0090       8
1031574     L530751P828  2018-02-09 -0.0037       8
1031575     L530751P828  2018-03-05 -0.0084       8
1031576     L530751P828  2018-03-29 -0.0050       8
1031577     L530751P828  2018-04-22 -0.0045       8
1031578     L530751P828  2018-05-16 -0.0056       8
1031579     L530751P828  2018-06-09 -0.0039       8
1031580     L530751P828  2018-07-03 -0.0003       8
1031581     L530751P828  2018-07-27 -0.0046       8
1031582     L530751P828  2018-08-20  0.0014       8
1031583     L530751P828  2018-09-13 -0.0028       8
1031584     L530751P828  2018-10-07 -0.0083       8
1031585     L530751P828  2018-10-31 -0.0009       8
1031586     L530751P828  2018-11-24 -0.0002       8

[1031587 rows x 4 columns]

### Onderstaand is gecomment, maar dit is code die je kunt gebruiken om iets in de database te stoppen

In [46]:
# df[:100].to_sql('meting', con=engine, if_exists='append', index=False)