### Stappen te doorlopen voor `convert_dataframe_datums(file)`

1. Begin met een gewone dataframe van de csv 
2. Replace de d_ in de datum kolommen
3. Maak een temp dataframe met alleen de datum kolommen
4. Verander de namen van de datum kolommen naar date
5. Voeg de 'pnt_id' kolom van de oorspronkelijke csv toe aan de temp
6. Maak van de temp een dataframe waarbij de datum kolommen values worden 
7. Verander de kolom namen van de temp dataframe
8. Selecteer het id van de betreffende satelliet
9. Maak een nieuwe kolom 'sat_id' met het betreffende id en voeg die toe aan de dataframe

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [38]:
# path_go = "D:\Documents\Data Science\PROJECT\data_grondwaterontrekking\\"
# path_zc = "D:\Documents\Data Science\PROJECT\data_zoutcavernes\\"

path_go = "go\\"
path_zc = "zc\\"

files_go = ["prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_lage_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ps_hoge_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ps_lage_punten.csv",
"prov_overijssel_groningen_rsat2_asc_xf_v2_ds_hoge_punten.csv",
"prov_overijssel_groningen_rsat2_asc_xf_v2_ds_lage_punten.csv",
"prov_overijssel_groningen_rsat2_asc_xf_v2_ps_hoge_punten.csv",
"prov_overijssel_groningen_rsat2_asc_xf_v2_ps_lage_punten.csv",
"prov_overijssel_groningen_rsat2_dsc_xf_v4_ds_hoge_punten.csv",
"prov_overijssel_groningen_rsat2_dsc_xf_v4_ds_lage_punten.csv",
"prov_overijssel_groningen_rsat2_dsc_xf_v4_ps_hoge_punten.csv",
"prov_overijssel_groningen_rsat2_dsc_xf_v4_ps_lage_punten.csv",
"prov_overijssel_nl_east_env_dsc_v2_ds_punten.csv",
"prov_overijssel_nl_east_env_dsc_v2_ps_punten.csv",
"prov_overijssel_nl_east_rsat2_dsc_s3_v3_ds_punten.csv",
"prov_overijssel_nl_east_rsat2_dsc_s3_v3_ps_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ds_hoge_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ds_lage_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ps_hoge_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ps_lage_punten.csv"]

files_zc = ["prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_lage_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ps_hoge_punten.csv",
"prov_overijssel_eindhoven_rsat2_asc_xf_v2_ps_lage_punten.csv",
"prov_overijssel_nl_east_env_dsc_v2_ds_punten.csv",
"prov_overijssel_nl_east_env_dsc_v2_ps_punten.csv",
"prov_overijssel_nl_east_rsat2_dsc_s3_v3_ds_punten.csv",
"prov_overijssel_nl_east_rsat2_dsc_s3_v3_ps_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ds_hoge_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ds_lage_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ps_hoge_punten.csv",
"prov_overijssel_twente_rsat2_dsc_xf_v4_ps_lage_punten.csv"]

all_files = []

for file in files_go :
    all_files.append(path_go + file)
for file in files_zc :
    all_files.append(path_zc + file)

In [40]:
def bestand(bestandsnaam):
    """Deze funtie verwijderd de lage streepjes uit een bestandsnaam"""
    nieuwbestand = bestandsnaam.replace("_", " ")
    return nieuwbestand

In [41]:
def get_type(input):
    """Deze functie bepaalt het type(HPA,HPD etc) op basis van de invoer"""
    invoer = bestand(input)
    #Als ascending, ds en hoge in invoer zit, return HDA
    if (' env ' in invoer or ' v3 ' in invoer):
        if ' ds ' in invoer:
            return 'DD'
        elif ' ps ' in invoer:
            return 'PD'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    elif ' asc ' in invoer:
        if ' ds ' in invoer:
            if ' hoge ' in invoer:
                return 'HDA'
            #Als dit niet zo is, return LDA
            elif ' lage ' in invoer:
                return 'LDA'
            else :
                raise ValueError('Geen goede bestandsnaam!')
        #Als er hoge, ps en asc inzit, return HPA
        elif ' hoge ' in invoer:
            return 'HPA'
        elif ' lage ' in invoer:
            return 'LPA'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    #Als er ds, hoge en andere lage inzit, return HDD of LDD
    elif ' ds ' in invoer:
        if ' hoge ' in invoer:
            return 'HDD'
        elif ' lage ' in invoer:
            return 'LDD'
        else :
            raise ValueError('Geen goede bestandsnaam!')
    #Als er hoge inzit, return HPD
    elif ' hoge ' in invoer:
        return 'HPD'
    #anders, return LPD
    elif ' lage ' in invoer:
        return 'LPD'
    else:
        raise ValueError('Geen goede bestandsnaam!')

In [46]:
def get_satelliet(input):
    invoer = bestand(input)
    #Als env in de naam zit, return env
    if ' env ' in invoer:
        return 'env'
    #Als s3 in de naam zit, return rsat3
    elif ' s3 ' in invoer:
        return 'rsats3'
    #Anders is het automatisch rsatxf
    else:
        return 'rsatxf'

In [18]:
def convert_dataframe_datums(file) :
    # 1. Begin met een gewone dataframe van de csv 
    original_df = pd.read_csv(file)
    # 2. Replace de d_ in de datum kolommen
    original_df.columns = original_df.columns.str.replace('d_', '')
    # 3. Maak een temp dataframe met alleen de datum kolommen
    temp = original_df.iloc[:,9:-2]
    # 4. Verander de namen van de datum kolommen naar date
    temp.columns = pd.to_datetime(temp.columns).date
    # 5. Voeg de 'pnt_id' kolom van de oorspronkelijke csv toe aan de temp
    temp['pnt_id'] = original_df['pnt_id']
    # 6. Maak van de temp een dataframe waarbij de datum kolommen values worden
    temp = temp.set_index('pnt_id').stack().reset_index()
    # 7. Verander de kolom namen van de temp dataframe
    result = temp.rename(columns={'level_1':'datum', 0:'meting'})
    # 8. Selecteer het id van de betreffende satelliet 
    satname = get_satelliet(file)
    sattype = get_type(file)
    query = "SELECT sat_id FROM satelliet WHERE sat_naam = '" + satname + "' AND type ='" + sattype +"'"
    sat_id = pd.read_sql_query(query, engine).iloc[0, 0]
    # 9. Maak een nieuwe kolom 'sat_id' met het betreffende id en voeg die toe aan de dataframe
    result['sat_id'] = sat_id
    return result

In [29]:
def convert_all_files(files_list) :
    dataframe_collection = {} 
    for file in files_list :
        # Hier wordt de convert functie aangeroepen en een dataframe is gemaakt
        df = convert_dataframe_datums(file)
        # Hier moet nog komen dat de df dan wordt toegevoegd aan de database

# Onderstaand is voor als je er maar één tegelijk zou willen  doen

In [20]:
converted_df = convert_dataframe_datums("D:\Documents\Data Science\PROJECT\data_grondwaterontrekking\\prov_overijssel_nl_east_env_dsc_v2_ds_punten.csv")

In [21]:
converted_df.head(30)

           pnt_id       datum  meting  sat_id
0   L278804P40475  2003-12-21  0.0000       9
1   L278804P40475  2004-01-25 -0.0069       9
2   L278804P40475  2004-02-29 -0.0163       9
3   L278804P40475  2004-04-04 -0.0108       9
4   L278804P40475  2004-05-09 -0.0162       9
5   L278804P40475  2004-06-13 -0.0006       9
6   L278804P40475  2004-07-18 -0.0075       9
7   L278804P40475  2004-08-22 -0.0044       9
8   L278804P40475  2004-09-26 -0.0019       9
9   L278804P40475  2004-12-05 -0.0095       9
10  L278804P40475  2005-01-09 -0.0240       9
11  L278804P40475  2005-02-13 -0.0228       9
12  L278804P40475  2005-03-20 -0.0163       9
13  L278804P40475  2005-04-24 -0.0144       9
14  L278804P40475  2005-05-29 -0.0040       9
15  L278804P40475  2005-07-03 -0.0089       9
16  L278804P40475  2005-08-07 -0.0123       9
17  L278804P40475  2005-09-11 -0.0113       9
18  L278804P40475  2005-10-16 -0.0131       9
19  L278804P40475  2005-11-20 -0.0087       9
20  L278804P40475  2005-12-25 -0.0088       9
21  L278804P40475  2006-01-29 -0.0221       9
22  L278804P40475  2006-05-14 -0.0125       9
23  L278804P40475  2006-06-18 -0.0130       9
24  L278804P40475  2006-07-23 -0.0114       9
25  L278804P40475  2006-08-27 -0.0148       9
26  L278804P40475  2006-10-01 -0.0064       9
27  L278804P40475  2006-11-05 -0.0081       9
28  L278804P40475  2006-12-10 -0.0139       9
29  L278804P40475  2007-01-14 -0.0167       9

### Onderstaand is gecomment, maar dit is code die je kunt gebruiken om iets in de database te stoppen

In [46]:
# df[:100].to_sql('meting', con=engine, if_exists='append', index=False)