# De functies 
#### `create_dataframe_from_query(url, query)`
Maakt een connectie met een database met de meegegeven url. Met de query wordt een dataframe gemaakt.
#### `average_measurement_per_month(df)`
Functie die een dataframe returnt met per maand in een jaar de gemiddelde meting. Er wordt een 
    dataframe meegegeven met daarin het id, pnt_id, datum, meting en sat_id van een meting. 
#### `remove_first_measurement(df)`
Deze functie verwijderd per uniek punt in het meegegeven dataframe de eerste (0-)meting.
#### `average(df)`
Returnt het gemiddelde van alle metingen in de meegegeven dataframe.

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np

In [3]:
def create_dataframe_from_query(url, query) :
    """Maakt een connectie met een database met de meegegeven url. Met de query wordt een dataframe gemaakt."""
    engine = create_engine(url)
    df = pd.read_sql(query, engine)
    return df

In [4]:
url = 'postgresql://postgres:Welkom01!@10.30.1.10:5432/POC'
query = """SELECT * 
FROM meting 
WHERE pnt_id = 'L450745P202580' OR pnt_id = 'L450805P203520' OR pnt_id = 'L450815P203485' OR pnt_id = 'L450825P203555' OR pnt_id = 'L450870P203080' 
ORDER BY datum"""
df = create_dataframe_from_query(url, query)

In [5]:
def average(df):
    """Returnt het gemiddelde van alle metingen in de meegegeven dataframe."""
    count = len(df['meting'])
    measurement = df['meting']
    total_sum = measurement.sum()
    average = (total_sum / count)
    
    return average

In [6]:
def remove_first_measurement(df) :
    """Deze functie verwijderd per uniek punt in het meegegeven dataframe de eerste (0-)meting."""
    result = df[:]
    
    # Per uniek pnt_id wordt de eerste meting verwijderd uit het dataframe. 
    # Dit omdat de eerste meting altijd 0 is en die ervoor zou zorgen dat het gemiddelde niet zou kloppen 
    for i in result.pnt_id.unique() :
        df_per_pnt = result.loc[result['pnt_id'] == i]
        ind = df_per_pnt.index.values[0]
        result = result.drop(index=ind)
    
    return result

In [7]:
def average_measurement_per_month(df) :
    """Functie die een dataframe returnt met per maand in een jaar de gemiddelde meting."""
    dataframe = df[:]
    
    # De waardes in de datum kolom worden omgezet naar datetime, zodat er daaronder op basis van deze kolom 
    # berekend kan worden wat het eerste jaar en wat het laatste jaar is waarbinnen de metingen plaatsvinden
    dataframe['datum'] = pd.to_datetime(dataframe['datum'])
    minyear = dataframe['datum'].min().year
    maxyear = dataframe['datum'].max().year
   
    dataframe = remove_first_measurement(dataframe)
    
    result = pd.DataFrame(columns=['jaar_maand', 'gemiddelde'])
    
    # Door de jaren heen loopen
    for x in range(minyear, maxyear + 1) : 
        # Door de maanden in het betreffende jaar loopen
        for y in range(1, 13) :
            # Per maand worden begin- en einddatum verzameld en worden de datums 
            # berekend die binnen dat begin en einde vallen
            start_month = pd.Timestamp(year=x, month=y, day=1)
            end_month = start_month.to_period('M').to_timestamp('M')
            this_month = (dataframe['datum'] > start_month) & (dataframe['datum'] <= end_month)
            
            # Er wordt een dataframe voor de betreffende maand gemaakt
            this_month = dataframe.loc[this_month]
            # Wanneer er metingen zijn in de maand, wordt het gemiddelde berekend
            # Wanneer er geen metingen zijn, gebeurt er niks
            if not this_month.empty :
                year_month = str(x) + str(y)
                avg = average(this_month)
                # Aan de result dataframe wordt een nieuwe regel toegevoegd met het jaar, de maand en het gemiddelde
                result = result.append({'jaar_maand': year_month, 'gemiddelde': avg}, ignore_index=True)
            
    return result

In [8]:
resultdf = average_measurement_per_month(df)

In [9]:
resultdf

   jaar_maand  gemiddelde
0       20156     0.00362
1       20157     0.00012
2       20158    -0.00163
3       20159     0.00178
4      201510     0.00214
5      201511    -0.00106
6      201512    -0.00177
7       20161    -0.00484
8       20162     0.00094
9       20163     0.00032
10      20164    -0.00398
11      20165     0.00048
12      20166    -0.00046
13      20167    -0.00362
14      20168    -0.00300
15      20169    -0.00400
16     201610    -0.00176
17     201611    -0.00253
18     201612    -0.00002
19      20171    -0.00356
20      20172    -0.00178
21      20173    -0.00217
22      20174    -0.00290
23      20175    -0.00332
24      20176    -0.00402
25      20177    -0.00018
26      20178    -0.00236
27      20179    -0.00374
28     201710    -0.00199
29     201711    -0.00092
30     201712    -0.00304
31      20181    -0.00108
32      20182    -0.00331
33      20183    -0.00120
34      20184    -0.00172
35      20185    -0.00252
36      20186    -0.00092
37      20187    -0.00410
38      20188    -0.00144
39      20189    -0.00218
40     201810    -0.00138
41     201811    -0.00074
42     201812    -0.00030