In [29]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
import numpy as np
import re
import math

In [132]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
query = """SELECT * 
FROM meting 
WHERE pnt_id = 'L485027P138209' OR pnt_id = 'L324855P15445' OR pnt_id = 'L324865P15465' OR pnt_id = 'L324875P15445' OR pnt_id = 'L324905P15460'
ORDER BY datum"""
kleinequery = """SELECT * 
FROM meting 
WHERE pnt_id = 'L485027P138209'
ORDER BY pnt_id"""
df = pd.read_sql(query, engine)
kleinedf = pd.read_sql_query(kleinequery, engine)

In [108]:
print(df)
print(df.info())

           id          pnt_id       datum  meting sat_id
0    49438132   L324855P15445  2010-06-03  0.0000     12
1    49438133   L324855P15445  2010-06-27  0.0092     12
2    49438134   L324855P15445  2010-07-21  0.0049     12
3    49438135   L324855P15445  2010-08-14  0.0082     12
4    49438136   L324855P15445  2010-09-07  0.0035     12
5    49438137   L324855P15445  2010-10-01  0.0081     12
6    49438138   L324855P15445  2010-10-25  0.0012     12
7    49438139   L324855P15445  2010-11-18  0.0109     12
8    49438140   L324855P15445  2010-12-12  0.0063     12
9    49438141   L324855P15445  2011-02-22  0.0094     12
10   49438142   L324855P15445  2011-03-18  0.0051     12
11   49438143   L324855P15445  2011-04-11  0.0107     12
12   49438144   L324855P15445  2011-05-05  0.0077     12
13   49438145   L324855P15445  2011-05-29  0.0078     12
14   49438146   L324855P15445  2011-06-22  0.0066     12
15   49438147   L324855P15445  2011-07-16  0.0033     12
16   49438148   L324855P15445  2011-08-09  0.0064     12
17   49438149   L324855P15445  2011-09-02  0.0047     12
18   49438150   L324855P15445  2011-09-26  0.0061     12
19   49438151   L324855P15445  2011-10-20  0.0004     12
20   49438152   L324855P15445  2011-11-13  0.0063     12
21   49438153   L324855P15445  2011-12-07  0.0086     12
22   49438154   L324855P15445  2011-12-31  0.0097     12
23   49438155   L324855P15445  2012-01-24  0.0068     12
24   49438156   L324855P15445  2012-02-17  0.0090     12
25   49438157   L324855P15445  2012-03-12  0.0070     12
26   49438158   L324855P15445  2012-04-05  0.0067     12
27   49438159   L324855P15445  2012-04-29  0.0091     12
28   49438160   L324855P15445  2012-05-23  0.0056     12
29   49438161   L324855P15445  2012-06-16  0.0089     12
..        ...             ...         ...     ...    ...
398   9624012  L485027P138209  2017-01-14 -0.0099      6
399   9624013  L485027P138209  2017-02-07 -0.0144      6
400   9624014  L485027P138209  2017-03-03 -0.0073      6
401   9624015  L485027P138209  2017-03-27 -0.0083      6
402   9624016  L485027P138209  2017-04-20 -0.0081      6
403   9624017  L485027P138209  2017-05-14 -0.0118      6
404   9624018  L485027P138209  2017-06-07 -0.0118      6
405   9624019  L485027P138209  2017-07-01 -0.0129      6
406   9624020  L485027P138209  2017-07-25 -0.0095      6
407   9624021  L485027P138209  2017-08-18 -0.0187      6
408   9624022  L485027P138209  2017-09-11 -0.0180      6
409   9624023  L485027P138209  2017-10-05 -0.0199      6
410   9624024  L485027P138209  2017-10-29 -0.0195      6
411   9624025  L485027P138209  2017-11-22 -0.0210      6
412   9624026  L485027P138209  2017-12-16 -0.0287      6
413   9624027  L485027P138209  2018-01-09 -0.0255      6
414   9624028  L485027P138209  2018-02-02 -0.0239      6
415   9624029  L485027P138209  2018-02-26 -0.0201      6
416   9624030  L485027P138209  2018-03-22 -0.0212      6
417   9624031  L485027P138209  2018-04-15 -0.0185      6
418   9624032  L485027P138209  2018-05-09 -0.0181      6
419   9624033  L485027P138209  2018-06-02 -0.0234      6
420   9624034  L485027P138209  2018-06-26 -0.0199      6
421   9624035  L485027P138209  2018-07-20 -0.0218      6
422   9624036  L485027P138209  2018-08-13 -0.0273      6
423   9624037  L485027P138209  2018-09-06 -0.0251      6
424   9624038  L485027P138209  2018-09-30 -0.0214      6
425   9624039  L485027P138209  2018-10-24 -0.0238      6
426   9624040  L485027P138209  2018-11-17 -0.0234      6
427   9624041  L485027P138209  2018-12-11 -0.0299      6

[428 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428 entries, 0 to 427
Data columns (total 5 columns):
id        428 non-null int64
pnt_id    428 non-null object
datum     428 non-null object
meting    428 non-null float64
sat_id    428 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 16.8+ KB
None

In [109]:
# Dit moet eigenlijk ook nog in de grote functie
df['datum'] = pd.to_datetime(df['datum'])

In [119]:
# Dit moet eigenlijk ook nog in de grote functie
kleinedf['datum'] = pd.to_datetime(kleinedf['datum'])

# Nu moet de grote dataframe worden geplitst in dataframes per punt

In [123]:
def split_into_multiple_dataframes(bigdataframe) :
    pntids = [ frame for pnt_id, frame in bigdataframe.groupby('pnt_id') ]

    for z in range(0, len(pntids)) :
        print(z)
    
    print(pntids[2])
    
    print(functietje(pntids[2]))

In [134]:
# ZORGT VOOR KEYERROR, FUNCTIETJE(DATAFRAME) IS BLIJKBAAR NIET GOED!
split_into_multiple_dataframes(df)

0
1
2
3
4
           id         pnt_id       datum  meting sat_id
3    49438318  L324875P15445  2010-06-03  0.0000     12
4    49438319  L324875P15445  2010-06-27 -0.0014     12
10   49438320  L324875P15445  2010-07-21 -0.0020     12
15   49438321  L324875P15445  2010-08-14 -0.0010     12
16   49438322  L324875P15445  2010-09-07 -0.0023     12
22   49438323  L324875P15445  2010-10-01 -0.0018     12
27   49438324  L324875P15445  2010-10-25 -0.0037     12
28   49438325  L324875P15445  2010-11-18 -0.0057     12
33   49438326  L324875P15445  2010-12-12 -0.0077     12
39   49438327  L324875P15445  2011-02-22 -0.0049     12
40   49438328  L324875P15445  2011-03-18  0.0013     12
45   49438329  L324875P15445  2011-04-11  0.0012     12
51   49438330  L324875P15445  2011-05-05  0.0002     12
52   49438331  L324875P15445  2011-05-29 -0.0019     12
57   49438332  L324875P15445  2011-06-22 -0.0027     12
63   49438333  L324875P15445  2011-07-16 -0.0019     12
64   49438334  L324875P15445  2011-08-09 -0.0001     12
69   49438335  L324875P15445  2011-09-02 -0.0017     12
75   49438336  L324875P15445  2011-09-26  0.0011     12
76   49438337  L324875P15445  2011-10-20 -0.0066     12
81   49438338  L324875P15445  2011-11-13 -0.0068     12
87   49438339  L324875P15445  2011-12-07 -0.0010     12
88   49438340  L324875P15445  2011-12-31 -0.0089     12
93   49438341  L324875P15445  2012-01-24  0.0028     12
99   49438342  L324875P15445  2012-02-17  0.0056     12
100  49438343  L324875P15445  2012-03-12  0.0029     12
105  49438344  L324875P15445  2012-04-05 -0.0022     12
111  49438345  L324875P15445  2012-04-29 -0.0016     12
112  49438346  L324875P15445  2012-05-23  0.0015     12
117  49438347  L324875P15445  2012-06-16 -0.0034     12
..        ...            ...         ...     ...    ...
254  49438381  L324875P15445  2014-10-28 -0.0029     12
258  49438382  L324875P15445  2014-11-21  0.0031     12
261  49438383  L324875P15445  2014-12-15 -0.0070     12
265  49438384  L324875P15445  2015-01-08 -0.0106     12
271  49438385  L324875P15445  2015-02-25 -0.0160     12
273  49438386  L324875P15445  2015-03-21 -0.0154     12
278  49438387  L324875P15445  2015-05-08 -0.0019     12
284  49438388  L324875P15445  2015-06-01 -0.0051     12
287  49438389  L324875P15445  2015-06-25  0.0021     12
292  49438390  L324875P15445  2015-07-19 -0.0073     12
297  49438391  L324875P15445  2015-08-12  0.0078     12
303  49438392  L324875P15445  2015-09-05 -0.0032     12
308  49438393  L324875P15445  2015-09-29 -0.0135     12
312  49438394  L324875P15445  2015-10-23 -0.0023     12
317  49438395  L324875P15445  2015-11-16 -0.0147     12
323  49438396  L324875P15445  2015-12-10 -0.0046     12
327  49438397  L324875P15445  2016-01-03 -0.0093     12
333  49438398  L324875P15445  2016-01-27 -0.0052     12
338  49438399  L324875P15445  2016-02-20 -0.0120     12
342  49438400  L324875P15445  2016-03-15 -0.0118     12
348  49438401  L324875P15445  2016-04-08 -0.0059     12
352  49438402  L324875P15445  2016-05-02  0.0090     12
358  49438403  L324875P15445  2016-05-26  0.0053     12
362  49438404  L324875P15445  2016-06-19 -0.0056     12
367  49438405  L324875P15445  2016-07-13 -0.0034     12
372  49438406  L324875P15445  2016-08-06  0.0028     12
377  49438407  L324875P15445  2016-08-30  0.0005     12
382  49438408  L324875P15445  2016-09-23  0.0010     12
387  49438409  L324875P15445  2016-10-17 -0.0046     12
392  49438410  L324875P15445  2016-11-10 -0.0053     12

[93 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
3      L324875P15445
4      L324875P15445
10     L324875P15445
15     L324875P15445
16     L324875P15445
22     L324875P15445
27     L324875P15445
28     L324875P15445
33     L324875P15445
39     L324875P15445
40     L324875P15445
45     L324875P15445
51     L324875P15445
52     L324875P15445
57     L324875P15445
63     L324875P15445
64     L324875P15445
69     L324875P15445
75     L324875P15445
76     L324875P15445
81     L324875P15445
87     L324875P15445
88     L324875P15445
93     L324875P15445
99     L324875P15445
100    L324875P15445
105    L324875P15445
111    L324875P15445
112    L324875P15445
117    L324875P15445
           ...
254    L324875P15445
258    L324875P15445
261    L324875P15445
265    L324875P15445
271    L324875P15445
273    L324875P15445
278    L324875P15445
284    L324875P15445
287    L324875P15445
292    L324875P15445
297    L324875P15445
303    L324875P15445
308    L324875P15445
312    L324875P15445
317    L324875P15445
323    L324875P15445
327    L324875P15445
333    L324875P15445
338    L324875P15445
342    L324875P15445
348    L324875P15445
352    L324875P15445
358    L324875P15445
362    L324875P15445
367    L324875P15445
372    L324875P15445
377    L324875P15445
382    L324875P15445
387    L324875P15445
392    L324875P15445
Name: pnt_id, Length: 93, dtype: object

KeyError: 0

In [21]:
def gemiddelde(df):
    aantal = len(df['meting'])
    meting = df['meting']
    totaal = meting.sum()
    gemiddelde = (totaal / aantal)
    return gemiddelde

In [133]:
def functietje(dataframe) :
    # Deze functie is alleen voor als je maar 1 pnt_id in de dataframe hebt én maar 1 sat_id

    minyear = dataframe['datum'].min().year
    maxyear = dataframe['datum'].max().year
    
    grotedf = pd.DataFrame(columns=['pnt_id', 'halfjaar', 'gemiddelde', 'sat_id'])
    for x in range(minyear, maxyear+1) :
        print(type(dataframe))
        print(dataframe['pnt_id'])
        pnt_id = dataframe['pnt_id'][0]
        sat_id = dataframe['sat_id'][0]
        
        start_firsthalf = pd.Timestamp(year=x, month=1, day=1)
        end_firsthalf = pd.Timestamp(year=x, month=6, day=30)
        firsthalf = (dataframe['datum'] > start_firsthalf) & (dataframe['datum'] <= end_firsthalf)
        firsthalf = dataframe.loc[firsthalf]
        halfjaar = str(x) +'.1'
        
        if not firsthalf.empty :
            gem = gemiddelde(firsthalf)
            grotedf = grotedf.append({'pnt_id' : pnt_id, 'halfjaar': halfjaar, 'gemiddelde':gem, 'sat_id':sat_id}, ignore_index=True)
    
        start_secondhalf = pd.Timestamp(year=x, month=7, day=1)
        end_secondhalf = pd.Timestamp(year=x, month=12, day=30)
        secondhalf = (dataframe['datum'] > start_secondhalf) & (dataframe['datum'] <= end_secondhalf)
        secondhalf = dataframe.loc[secondhalf]
        halfjaar = str(x) +'.2'
        
        if not secondhalf.empty :
            gem = gemiddelde(secondhalf)
            grotedf = grotedf.append({'pnt_id' : pnt_id, 'halfjaar': halfjaar, 'gemiddelde':gem, 'sat_id':sat_id}, ignore_index=True) 
                
    return grotedf

In [126]:
functietje(kleinedf)

L485027P138209
L485027P138209
L485027P138209
L485027P138209

           pnt_id halfjaar  gemiddelde sat_id
0  L485027P138209   2015.1   -0.001067      6
1  L485027P138209   2015.2   -0.005137      6
2  L485027P138209   2016.1   -0.005343      6
3  L485027P138209   2016.2   -0.009650      6
4  L485027P138209   2017.1   -0.010229      6
5  L485027P138209   2017.2   -0.019329      6
6  L485027P138209   2018.1   -0.021325      6
7  L485027P138209   2018.2   -0.024671      6