In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from sqlalchemy import create_engine
import sqlite3
import matplotlib.pyplot as plt
from sklearn import linear_model

In [13]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [17]:
#df = pd.read_sql_query("SELECT * FROM meting INNER JOIN locatie on meting.pnt_id = locatie.pnt_id WHERE locatie = 'Engelse Werk' AND  ", engine)

In [18]:
df.head()

,id,pnt_id,datum,meting,sat_id,id,pnt_id,pnt_lat,pnt_lon,locatie
0,5406851,L497960P131637,2015-09-22,0.0002,5,13898,L497960P131637,52.519745,6.058855,Engelse Werk
1,5406852,L497960P131637,2015-10-16,-0.0016,5,13898,L497960P131637,52.519745,6.058855,Engelse Werk
2,5406853,L497960P131637,2015-11-09,-0.0020,5,13898,L497960P131637,52.519745,6.058855,Engelse Werk
3,5406854,L497960P131637,2015-12-03,0.0010,5,13898,L497960P131637,52.519745,6.058855,Engelse Werk
4,5406855,L497960P131637,2015-12-27,0.0012,5,13898,L497960P131637,52.519745,6.058855,Engelse Werk

In [22]:
df = df[["datum", "meting"]]

In [23]:
df.head()

        datum  meting
0  2015-09-22  0.0002
1  2015-10-16 -0.0016
2  2015-11-09 -0.0020
3  2015-12-03  0.0010
4  2015-12-27  0.0012

In [25]:
datum = df["datum"]
meting = df["meting"]

In [8]:
datum  = datum.astype("str")

NameError: name 'datum' is not defined

In [7]:
#plt.scatter(datum, meting)