In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from sqlalchemy import create_engine
import sqlite3
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [4]:
df = pd.read_sql_query("SELECT * FROM meting INNER JOIN locatie on meting.pnt_id = locatie.pnt_id WHERE locatie = 'Engelse Werk' Limit 100", engine)

In [5]:
df.head()

,id,pnt_id,datum,meting,sat_id,id,pnt_id,pnt_lat,pnt_lon,locatie
0,5481722,L491810P139074,2015-04-07,0.0000,5,105,L491810P139074,52.512031,6.11248,Engelse Werk
1,5481723,L491810P139074,2015-05-01,-0.0071,5,105,L491810P139074,52.512031,6.11248,Engelse Werk
2,5481724,L491810P139074,2015-06-18,-0.0047,5,105,L491810P139074,52.512031,6.11248,Engelse Werk
3,5481725,L491810P139074,2015-07-12,0.0051,5,105,L491810P139074,52.512031,6.11248,Engelse Werk
4,5481726,L491810P139074,2015-08-05,0.0037,5,105,L491810P139074,52.512031,6.11248,Engelse Werk

In [6]:
df = df[["datum", "meting"]]
df.datum.head()

0    2015-04-07
1    2015-05-01
2    2015-06-18
3    2015-07-12
4    2015-08-05
Name: datum, dtype: object

In [65]:
df['datum'] = df['datum'].strftime('X%d/X%m/%Y').replace('X0','X').replace('X','')

AttributeError: 'Series' object has no attribute 'strftime'

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
datum     100 non-null object
meting    100 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

In [9]:
datum.head()

0    2015-04-07
1    2015-05-01
2    2015-06-18
3    2015-07-12
4    2015-08-05
Name: datum, dtype: object

In [52]:
import datetime as dt
df['datum'] = pd.to_datetime(df['datum'])
df['datum'] = df['datum'].map(dt.datetime.toordinal)

In [53]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
datum     100 non-null int64
meting    100 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.6 KB

    datum  meting
0  719163  0.0000
1  719163 -0.0071
2  719163 -0.0047
3  719163  0.0051
4  719163  0.0037

In [63]:
df['datum] = df['datum'].strftime("%B %d, %Y")

SyntaxError: invalid syntax (<ipython-input-63-3cd0601e146b>, line 1)

In [60]:
x1 = df['datum']
y1 = df['meting']

In [59]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1,y1, test_size=0.3, random_state = 89)

In [61]:
lm = LinearRegression() 
model = lm.fit(x_train,y_train)  #model trainen
Coefficients = lm.coef_          #helling
Intercept = lm.intercept_        #snijpunt
y_predict = lm.predict(y1)   #voorspelde waarde

ValueError: Expected 2D array, got 1D array instead:
array=[719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163
 719163 719163 719163 719163 719163 719163 719163 719163 719163 719163].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [57]:
print(y_predict)
print(y_test)

NameError: name 'y_predict' is not defined