In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from sqlalchemy import create_engine
import sqlite3
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [48]:
df = pd.read_sql_query("SELECT * FROM meting INNER JOIN locatie on meting.pnt_id = locatie.pnt_id WHERE locatie = 'Engelse Werk' Limit 100", engine)

In [49]:
df.head()

,id,pnt_id,datum,meting,sat_id,id,pnt_id,pnt_lat,pnt_lon,locatie
0,1551491,L494583P132053,2015-05-01,-0.0019,5,21736,L494583P132053,52.512704,6.064003,Engelse Werk
1,1551492,L494583P132053,2015-06-18,0.0026,5,21736,L494583P132053,52.512704,6.064003,Engelse Werk
2,1551493,L494583P132053,2015-07-12,0.0019,5,21736,L494583P132053,52.512704,6.064003,Engelse Werk
3,1551494,L494583P132053,2015-08-05,-0.0018,5,21736,L494583P132053,52.512704,6.064003,Engelse Werk
4,1551495,L494583P132053,2015-08-29,-0.0039,5,21736,L494583P132053,52.512704,6.064003,Engelse Werk

In [50]:
df = df[["datum", "meting"]]
df.datum.head()

0    2015-05-01
1    2015-06-18
2    2015-07-12
3    2015-08-05
4    2015-08-29
Name: datum, dtype: object

In [51]:
#df['datum'] = df['datum'].astype('str')
df['datum']= df['datum'].replace("-", "")

In [53]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
datum     100 non-null object
meting    100 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.6+ KB

        datum  meting
0  2015-05-01 -0.0019
1  2015-06-18  0.0026
2  2015-07-12  0.0019
3  2015-08-05 -0.0018
4  2015-08-29 -0.0039

In [14]:
x1 = df['datum']
y1 = df['meting']

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1,y1, test_size=0.3, random_state = 89)

In [17]:
lm = LinearRegression() 
model = lm.fit(x_train,y_train)  #model trainen
Coefficients = lm.coef_          #helling
Intercept = lm.intercept_        #snijpunt
y_predict = lm.predict(x_test)   #voorspelde waarde

TypeError: float() argument must be a string or a number, not 'datetime.date'

In [ ]:
print(y_predict)
print(y_test)