In [1]:
import numpy as np
import pandas as pd

In [6]:

engine = create_engine()

2.5

In [8]:
def GradenNaarMeters(meters):
    graden=(meters/30.92)/3600 
    return graden

In [9]:
GradenNaarMeters(50)

0.00044918786833405205

In [ ]:
def puntenverzamelaar(engine,meters):
    Query=  select pnt_id from location where lon between lon-GradenNaarMeters(meters) and lon+GradenNaarMeters(meters) and lat between lat-GradenNaarMeters(meters) and lat+GradenNaarMeters(meters);
    df= pd.read_sql(Query,engine)
    df.groupby(locatie)
    return df

In [ ]:
straal= lon