In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df= pd.read_csv('inactieve_putten - page 1.csv',skiprows=1,sep=',')

In [7]:

def verwijderen(df):
    df.columns= df.columns.str.replace('"','')
    df.columns= df.rows.str.replace('"','')

 
    
      
    return df

In [8]:
verwijderen(df)

AttributeError: 'DataFrame' object has no attribute 'str'

In [5]:
def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

def puntenverzamelaar(puntfile,meters):
    #laad de punten file in
    puntenfile = pd.read_csv(puntfile)
    # id file
    idfile = []
    for row in puntenfile:
        
        if puntenfile['pnt_lon']+ GradenNaarMeters(meters)<=
        ifelse puntenfile['pnt_lon'] - GradenNaarMeters(meters)
        and puntenfile['pnt_lat'] + GradenNaarMeters(meters)
        puntenfile['pnt_lat'] - GradenNaarMeters(meters)
        
        maxlon = row('pnt_lon') + GradenNaarMeters(meters)
        minlon = row('pnt_lon') - GradenNaarMeters(meters)
        maxlan = row('pnt_lat') + GradenNaarMeters(meters)
        minlan = row('pnt_lat') - GradenNaarMeters(meters)
        id= pnt_id
        idfile.append(id,maxlon,minlon,maxlan,minlan)
    return print(idfile)

#puntenverzamelaar('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv',50)
puntenfile = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')
#for row in puntenfile:
#    print(row)
#print(puntenfile.head())
pnt_id = puntenfile['pnt_id']

#for row in puntenfile:
#    print(row)

SyntaxError: invalid syntax (<ipython-input-5-ffa49635d7bc>, line 12)

In [6]:
puntenfile.head()

,pnt_id,pnt_lat,pnt_lon,pnt_rdx,pnt_rdy,pnt_demheight,pnt_height,pnt_quality,pnt_linear,d_20150407,...,d_20180626,d_20180720,d_20180813,d_20180906,d_20180930,d_20181024,d_20181117,d_20181211,pnt_ds_nr_neighbors,graph_000000
0,L321677P230658,52.207237,6.815084,252597.3,469753.8,26.370,34.795,0.82,0.0002,0,...,-0.0009,-0.0027,0.0025,-0.0088,0.0012,0.0004,0.0022,0.0028,54,2.739785e-03 + 2.186734e-04 * (x - 1.8703) ...
1,L321691P230648,52.207260,6.815013,252592.4,469756.2,26.371,34.640,0.80,-0.0002,0,...,-0.0014,-0.0023,0.0020,-0.0032,0.0008,0.0010,0.0021,0.0025,60,1.852294e-03 + -2.378942e-04 * (x - 1.8703) ...
2,L321732P230625,52.207334,6.814843,252580.7,469764.3,26.326,34.957,0.89,-0.0002,0,...,-0.0028,-0.0026,-0.0005,-0.0048,-0.0013,-0.0061,-0.0002,-0.0013,31,7.360352e-04 + -1.918209e-04 * (x - 1.8703) ...
3,L321733P230650,52.207354,6.814992,252590.8,469766.7,26.287,34.434,0.89,-0.0002,0,...,-0.0012,-0.0008,0.0007,-0.0027,-0.0016,-0.0016,0.0007,-0.0003,42,4.192290e-04 + -2.104656e-04 * (x - 1.8703) ...
4,L321740P230614,52.207343,6.814763,252575.2,469765.2,26.352,34.507,0.89,-0.0001,0,...,0.0027,0.0017,0.0040,-0.0030,0.0013,-0.0029,0.0029,0.0027,43,4.237808e-03 + -9.831978e-05 * (x - 1.8703) ...

In [7]:
puntenfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18092 entries, 0 to 18091
Data columns (total 67 columns):
pnt_id                 18092 non-null object
pnt_lat                18092 non-null float64
pnt_lon                18092 non-null float64
pnt_rdx                18092 non-null float64
pnt_rdy                18092 non-null float64
pnt_demheight          18092 non-null float64
pnt_height             18092 non-null float64
pnt_quality            18092 non-null float64
pnt_linear             18092 non-null float64
d_20150407             18092 non-null int64
d_20150501             18092 non-null float64
d_20150618             18092 non-null float64
d_20150712             18092 non-null float64
d_20150805             18092 non-null float64
d_20150829             18092 non-null float64
d_20150922             18092 non-null float64
d_20151016             18092 non-null float64
d_20151109             18092 non-null float64
d_20151203             18092 non-null float64
d_20151227             18092 non-null float64
d_20160120             18092 non-null float64
d_20160213             18092 non-null float64
d_20160308             18092 non-null float64
d_20160401             18092 non-null float64
d_20160425             18092 non-null float64
d_20160519             18092 non-null float64
d_20160612             18092 non-null float64
d_20160706             18092 non-null float64
d_20160730             18092 non-null float64
d_20160823             18092 non-null float64
d_20160916             18092 non-null float64
d_20161010             18092 non-null float64
d_20161103             18092 non-null float64
d_20161127             18092 non-null float64
d_20161221             18092 non-null float64
d_20170114             18092 non-null float64
d_20170207             18092 non-null float64
d_20170303             18092 non-null float64
d_20170327             18092 non-null float64
d_20170420             18092 non-null float64
d_20170514             18092 non-null float64
d_20170607             18092 non-null float64
d_20170701             18092 non-null float64
d_20170725             18092 non-null float64
d_20170818             18092 non-null float64
d_20170911             18092 non-null float64
d_20171005             18092 non-null float64
d_20171029             18092 non-null float64
d_20171122             18092 non-null float64
d_20171216             18092 non-null float64
d_20180109             18092 non-null float64
d_20180202             18092 non-null float64
d_20180226             18092 non-null float64
d_20180322             18092 non-null float64
d_20180415             18092 non-null float64
d_20180509             18092 non-null float64
d_20180602             18092 non-null float64
d_20180626             18092 non-null float64
d_20180720             18092 non-null float64
d_20180813             18092 non-null float64
d_20180906             18092 non-null float64
d_20180930             18092 non-null float64
d_20181024             18092 non-null float64
d_20181117             18092 non-null float64
d_20181211             18092 non-null float64
pnt_ds_nr_neighbors    18092 non-null int64
graph_000000           18092 non-null object
dtypes: float64(63), int64(2), object(2)
memory usage: 9.2+ MB

In [8]:
puntenverzamelaar('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv',50)

TypeError: 'str' object is not callable

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

def puntenverzamelaar(puntfile,meters):
    #laad de punten file in
    puntenfile = pd.read_csv(puntfile)
    # id file
    idfile = []
    for row in puntenfile:
        maxlon = row('pnt_lon') + GradenNaarMeters(meters)
        minlon = row('pnt_lon') - GradenNaarMeters(meters)
        maxlan = row('pnt_lat') + GradenNaarMeters(meters)
        minlan = row('pnt_lat') - GradenNaarMeters(meters)
        id= pnt_id
        idfile.append(id,maxlon,minlon,maxlan,minlan)
    return print(idfile)

#puntenverzamelaar('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv',50)
puntenfile = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')
#for row in puntenfile:
#    print(row)
#print(puntenfile.head())
pnt_id = puntenfile['pnt_id']
print(puntenfile.dtypes)
#for row in puntenfile:
#    print(row)
def puntenverzamelaar2 (dataset,meters):
    puntenlijst = list()
    for row in dataset:
        id = puntenlijst.append(dataset.loc[:, 'pnt_id'])
        maxlon = puntenlijst.append(dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters))
        minlon = puntenlijst.append(dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters))
        maxlan = puntenlijst.append(dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters))
        minlan = puntenlijst.append(dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters))
    return(puntenlijst)
print(puntenverzamelaar2(puntenfile, 50))

#print(dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters))