In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from sqlalchemy import create_engine
import sqlite3
import matplotlib.pyplot as plt
from sklearn import linear_model
import re

In [4]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [5]:
query = "SELECT * FROM meting WHERE pnt_id = 'L485027P138209'"

In [8]:
df = pd.read_sql(query, engine)

        datum  meting
0  2015-04-07  0.0000
1  2015-05-01 -0.0020
2  2015-06-18 -0.0012
3  2015-07-12 -0.0010
4  2015-08-05  0.0023

In [17]:
df = df[['datum', 'meting']]
df['datum'] = df['datum'].map(datetime.datetime.toordinal)
df.head()

    datum  meting
0  735695  0.0000
1  735719 -0.0020
2  735767 -0.0012
3  735791 -0.0010
4  735815  0.0023

In [24]:
x = pd.DataFrame(df['datum'])
y = pd.DataFrame(df['meting'])
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.6, random_state=1)
#reg_all = linear_model.LinearRegression()
lasso = Lasso()
lasso.fit(X_train, y_train)
#lasso_coef = lasso.fit(X_train, y_train).coef_
y_pred = lasso.predict(X_test)
lasso.score(X_test, y_test)
print(r2_score(y_test,y_pred))

0.7130764032632663

In [45]:
y_prediction = pd.DataFrame(y_pred)
y_prediction

datum = pd.DataFrame(df['datum'])
datum

     datum
0   735695
1   735719
2   735767
3   735791
4   735815
5   735839
6   735863
7   735887
8   735911
9   735935
10  735959
11  735983
12  736007
13  736031
14  736055
15  736079
16  736103
17  736127
18  736151
19  736175
20  736199
21  736223
22  736247
23  736271
24  736295
25  736319
26  736343
27  736367
28  736391
29  736415
30  736439
31  736463
32  736487
33  736511
34  736535
35  736559
36  736583
37  736607
38  736631
39  736655
40  736679
41  736703
42  736727
43  736751
44  736775
45  736799
46  736823
47  736847
48  736871
49  736895
50  736919
51  736943
52  736967
53  736991
54  737015
55  737039

AttributeError: 'Series' object has no attribute 'sort'