In [42]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
%matplotlib inline

In [43]:
engine= create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [44]:
engine.table_names()

['locatie',
 'satelliet',
 'meting',
 'boor_locatie',
 'pnt_locatie',
 'pnt_boor_locatie']

In [45]:
#(zoutcavernes)Functie die de punten samenvoegt 
#en een gemiddelde daling van deze punten opslaat per locatie

In [46]:
df= pd.read_excel('inactieve_putten.xlsx',skiprows=1)

In [47]:
df.columns

Index(['Boring', 'Locatie', 'pnt_lat', 'pnt_lon', 'Unnamed: 4',
       'Nummer gecheckt?', 'Opmerkingen'],
      dtype='object')

In [48]:
df= df[['Boring', 'Locatie', 'pnt_lat', 'pnt_lon',]]

In [49]:
df=df.dropna()

In [50]:
df.head()

  Boring                                        Locatie     pnt_lat    pnt_lon
0    132                   Oude Hengelosedijk, Enschede  52232991.0  6781566.0
1    259                         Baardinkseweg, Hengelo  52239356.0  6813606.0
3    357                            Wullenweg, Enschede  52229603.0  6779400.0
4    311  Hofdijk (ten westen van Haimersweg), Enschede  52221694.0  6801093.0
5    312  Hofdijk (ten westen van Haimersweg), Enschede  52221641.0  6801660.0