In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [179]:
def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

In [180]:
def puntenverzamelaar (dataset,meters):
    #eindlist= []
    eindlist= pd.read_csv('csv boor.csv')
    #een for loop zodat alle rows in een dataframe wordt gebruikt om meer
    for row in dataset:
        eindlist["BoorID"] = dataset.loc[:, 'Boring']
        eindlist["Locatie"] = dataset.loc[:, 'Locatie']
        eindlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        eindlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        eindlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        eindlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return eindlist

In [181]:
df1=puntenverzamelaar(inactieveputtendf, 50)

In [185]:
df1

,BoorID,Locatie,MaxLat,MinLat,MaxLon,MinLon
0,132,Oude Hengelosedijk Enschede,52.233440,52.232542,6.782015,6.781117
1,259,Baardinkseweg Hengelo,52.239805,52.238907,6.814055,6.813157
2,343,Molenveld Enschede,52.216009,52.215111,6.798962,6.798064
3,357,Wullenweg Enschede,52.230072,52.229174,6.779836,6.778938

In [186]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [197]:
df2= pd.read_sql("""
select * from meting m
join locatie l on
m.pnt_id = l.pnt_id;


""",engine)