In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [25]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [34]:
df= pd.read_sql("""
select * from meting m
join locatie l on
m.pnt_id = l.pnt_id;


""",engine)

In [35]:
df

Empty DataFrame
Columns: [id, pnt_id, datum, meting, sat_id, id, pnt_id, locatie, pnt_lat, pnt_lon]
Index: []