In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [21]:
df= pd.read_sql("""
select *
from 
meting m
join 
satelliet s 
on m.sat_id=s.sat_id


""",engine)

ProgrammingError: (psycopg2.errors.UndefinedFunction) operator does not exist: character varying = integer
LINE 7: on m.sat_id=s.sat_id
                   ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL:
select *
from
meting m
join
satelliet s
on m.sat_id=s.sat_id


]
(Background on this error at: http://sqlalche.me/e/f405)

In [18]:
df

              id          pnt_id       datum  meting sat_id
0        2081411  L495951P138997  2018-07-20 -0.0083      5
1        2081412  L495951P138997  2018-08-13 -0.0061      5
2        2081413  L495951P138997  2018-09-06 -0.0050      5
3        2081414  L495951P138997  2018-09-30 -0.0025      5
4        2081415  L495951P138997  2018-10-24 -0.0048      5
5        2081416  L495951P138997  2018-11-17  0.0009      5
6        2081417  L495951P138997  2018-12-11 -0.0063      5
7        2081418  L496017P138896  2015-04-07  0.0000      5
8        2081419  L496017P138896  2015-05-01  0.0021      5
9        2081420  L496017P138896  2015-06-18 -0.0018      5
10       2081421  L496017P138896  2015-07-12  0.0030      5
11       2081422  L496017P138896  2015-08-05 -0.0004      5
12       2081423  L496017P138896  2015-08-29  0.0026      5
13       2081424  L496017P138896  2015-09-22  0.0130      5
14       2081425  L496017P138896  2015-10-16  0.0041      5
15       2081426  L496017P138896  2015-11-09  0.0025      5
16       2081427  L496017P138896  2015-12-03  0.0014      5
17       2081428  L496017P138896  2015-12-27  0.0017      5
18       2081429  L496017P138896  2016-01-20  0.0012      5
19       2081430  L496017P138896  2016-02-13  0.0013      5
20       2081431  L496017P138896  2016-03-08 -0.0010      5
21       2081432  L496017P138896  2016-04-01  0.0025      5
22       2081433  L496017P138896  2016-04-25  0.0014      5
23       2081434  L496017P138896  2016-05-19  0.0045      5
24       2081435  L496017P138896  2016-06-12  0.0018      5
25       2081436  L496017P138896  2016-07-06  0.0044      5
26       2081437  L496017P138896  2016-07-30  0.0004      5
27       2081438  L496017P138896  2016-08-23 -0.0002      5
28       2081439  L496017P138896  2016-09-16 -0.0013      5
29       2081440  L496017P138896  2016-10-10  0.0037      5
...          ...             ...         ...     ...    ...
4294253  2081381  L495951P138997  2016-07-30  0.0030      5
4294254  2081382  L495951P138997  2016-08-23 -0.0014      5
4294255  2081383  L495951P138997  2016-09-16  0.0012      5
4294256  2081384  L495951P138997  2016-10-10  0.0095      5
4294257  2081385  L495951P138997  2016-11-03  0.0002      5
4294258  2081386  L495951P138997  2016-11-27  0.0003      5
4294259  2081387  L495951P138997  2016-12-21  0.0018      5
4294260  2081388  L495951P138997  2017-01-14  0.0026      5
4294261  2081389  L495951P138997  2017-02-07  0.0005      5
4294262  2081390  L495951P138997  2017-03-03  0.0004      5
4294263  2081391  L495951P138997  2017-03-27 -0.0037      5
4294264  2081392  L495951P138997  2017-04-20  0.0004      5
4294265  2081393  L495951P138997  2017-05-14  0.0015      5
4294266  2081394  L495951P138997  2017-06-07  0.0018      5
4294267  2081395  L495951P138997  2017-07-01  0.0031      5
4294268  2081396  L495951P138997  2017-07-25 -0.0014      5
4294269  2081397  L495951P138997  2017-08-18  0.0050      5
4294270  2081398  L495951P138997  2017-09-11  0.0008      5
4294271  2081399  L495951P138997  2017-10-05 -0.0003      5
4294272  2081400  L495951P138997  2017-10-29  0.0021      5
4294273  2081401  L495951P138997  2017-11-22 -0.0008      5
4294274  2081402  L495951P138997  2017-12-16 -0.0004      5
4294275  2081403  L495951P138997  2018-01-09  0.0031      5
4294276  2081404  L495951P138997  2018-02-02 -0.0004      5
4294277  2081405  L495951P138997  2018-02-26  0.0022      5
4294278  2081406  L495951P138997  2018-03-22  0.0009      5
4294279  2081407  L495951P138997  2018-04-15 -0.0012      5
4294280  2081408  L495951P138997  2018-05-09  0.0007      5
4294281  2081409  L495951P138997  2018-06-02 -0.0019      5
4294282  2081410  L495951P138997  2018-06-26  0.0006      5

[4294283 rows x 5 columns]