In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

#testdatafile
#inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',')
#puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')

###########SQL stukje###########
#engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
#sqldataset = pd.read_sql_query('Select * From locatie',engine)
#print(sqldataset)

def radiusbepaler (dataset,meters):
    #radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
    endlist= pd.DataFrame()
    def GradenNaarMeters(meters):
        graden = (meters / 30.92) / 3600
        return graden
    for row in dataset:
        boorid = endlist["BoorID"] = dataset.loc[:, 'Boring']
        locatie = endlist["Locatie"] = dataset.loc[:, 'Locatie']
        maxlon = endlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        minlon = endlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        maxlat = endlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        minlat = endlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return endlist


def meetpuntenkoppelen(datasetmeetpunten,datasetboorlocatie,radius):
    #deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
    punten = []
    meting = radiusbepaler(datasetboorlocatie,radius)
    for index, row in datasetmeetpunten.iterrows():
        for lijstje_index, lijstje_row in meting.iterrows() :
            if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and  row['pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat'] :
                boorid = lijstje_row['BoorID']
                locatie = lijstje_row['Locatie']
                minlon = lijstje_row['MinLon']
                maxlon = lijstje_row['MaxLon']
                minlat = lijstje_row['MinLat']
                maxlat = lijstje_row['MaxLat']
                pnt_id = row['pnt_id']
                pnt_lon = row['pnt_lon']
                pnt_lat = row['pnt_lat']
                punten.append([boorid,locatie,minlon,maxlon,minlat,maxlat,pnt_id,pnt_lon,pnt_lat])
    return pd.DataFrame(punten,columns=['boorid','locatie','minlon','maxlon','minlat','maxlat','pnt_id','pnt_lon','pnt_lat'])

In [54]:

import numpy as np

%matplotlib inline

In [55]:
engine= create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [56]:
engine.table_names()

['locatie',
 'satelliet',
 'meting',
 'boor_locatie',
 'pnt_locatie',
 'pnt_boor_locatie']

In [57]:
meting= pd.read_sql(
"""
select * 
from meting
limit 20;

"""
,engine)

In [58]:
meting.head()

         id         pnt_id       datum  meting sat_id
0  36000058  L274002P40863  2006-07-23 -0.0056      9
1  36000059  L274002P40863  2006-08-27 -0.0002      9
2  36000060  L274002P40863  2006-10-01 -0.0051      9
3  36000061  L274002P40863  2006-11-05 -0.0060      9
4  36000062  L274002P40863  2006-12-10 -0.0037      9

In [59]:
locatie= pd.read_sql(
"""
select *
from locatie
""",engine)

In [60]:
locatie.head()

   id          pnt_id    pnt_lat   pnt_lon    locatie
0   1  L373252P179009  52.283131  6.453700  Rodenmors
1   2  L373223P179007  52.283073  6.453774  Rodenmors
2   3  L373257P178125  52.282494  6.448001  Rodenmors
3   4  L373264P179019  52.283166  6.453776  Rodenmors
4   5  L373287P179037  52.283219  6.453800  Rodenmors

In [62]:
#(zoutcavernes)Functie die de punten samenvoegt 
#en een gemiddelde daling van deze punten opslaat per locatie

In [63]:
putten= pd.read_excel('inactieve_putten.xlsx',skiprows=1)

In [64]:
putten.columns

Index(['Boring', 'Locatie', 'pnt_lat', 'pnt_lon', 'Unnamed: 4',
       'Nummer gecheckt?', 'Opmerkingen'],
      dtype='object')

In [65]:
putten= putten[['Boring', 'Locatie', 'pnt_lat', 'pnt_lon',]]

In [66]:
putten=putten.dropna()

In [70]:
putten.head()

  Boring                                        Locatie     pnt_lat    pnt_lon
0    132                   Oude Hengelosedijk, Enschede  52232991.0  6781566.0
1    259                         Baardinkseweg, Hengelo  52239356.0  6813606.0
3    357                            Wullenweg, Enschede  52229603.0  6779400.0
4    311  Hofdijk (ten westen van Haimersweg), Enschede  52221694.0  6801093.0
5    312  Hofdijk (ten westen van Haimersweg), Enschede  52221641.0  6801660.0

In [75]:
meetpuntenkoppelen(putten,putten,100)

KeyError: 'pnt_id'

In [73]:
radiusbepaler(putten,100)

,BoorID,Locatie,MaxLon,MinLon,MaxLat,MinLat
0,132,"Oude Hengelosedijk, Enschede",6.781566e+06,6.781566e+06,5.223299e+07,5.223299e+07
1,259,"Baardinkseweg, Hengelo",6.813606e+06,6.813606e+06,5.223936e+07,5.223936e+07
3,357,"Wullenweg, Enschede",6.779400e+06,6.779400e+06,5.222960e+07,5.222960e+07
4,311,"Hofdijk (ten westen van Haimersweg), Enschede",6.801093e+06,6.801093e+06,5.222169e+07,5.222169e+07
5,312,"Hofdijk (ten westen van Haimersweg), Enschede",6.801660e+06,6.801660e+06,5.222164e+07,5.222164e+07
6,313,"Hofdijk (ten westen van Haimersweg), Enschede",6.802231e+06,6.802231e+06,5.222159e+07,5.222159e+07
9,445,"Westelijk van Haimersweg, nabij A35, Enschede",6.799406e+06,6.799406e+06,5.221928e+07,5.221928e+07
13,164,"Wullenweg, west, Enschede",6.768182e+06,6.768182e+06,5.223321e+07,5.223321e+07
14,156,"Boeldershoek (westelijk van Twence), Enschede",6.780295e+06,6.780295e+06,5.223468e+07,5.223468e+07
15,156A,"Boeldershoek (westelijk van Twence), Enschede",6.780517e+06,6.780517e+06,5.223466e+07,5.223466e+07
16,363,"Grote Esweg, Enschede",6.819835e+06,6.819835e+06,5.222006e+07,5.222005e+07
17,328,"Nabij Hofdijk 313, Enschede",6.802248e+06,6.802248e+06,5.222158e+07,5.222158e+07
18,202,Hofdijk (tussen Tienbunderweg en Grote Veldweg...,6.797409e+06,6.797409e+06,5.222400e+07,5.222400e+07
19,355,"Wullenweg, Enschede",6.779583e+06,6.779583e+06,5.222897e+07,5.222897e+07
20,381,"Marssteden tegenover nummer 200, Enschede",6.814084e+06,6.814084e+06,5.221076e+07,5.221076e+07
21,382,"Marssteden tegenover nummer 200, Enschede",6.814454e+06,6.814454e+06,5.221049e+07,5.221049e+07
22,383,"Marssteden tegenover nummer 200, Enschede",6.814952e+06,6.814952e+06,5.221031e+07,5.221031e+07
23,472,"Staalsteden tegenover nummer 26, Enschede",6.819462e+06,6.819462e+06,5.221382e+07,5.221381e+07
24,473,"Staalsteden tegenover nummer 26, Enschede",6.820046e+06,6.820046e+06,5.221377e+07,5.221377e+07
25,474,"Staalsteden tegenover nummer 26, Enschede",6.820624e+06,6.820624e+06,5.221374e+07,5.221374e+07
26,203,Hofdijk (tussen Tienbunderweg en Grote Veldweg...,6.797777e+06,6.797777e+06,5.222428e+07,5.222428e+07
28,344,"Molenveld, tegenover nummer 61, Enschede",6.798510e+06,6.798510e+06,5.221556e+07,5.221556e+07
29,345,"Molenveld, tegenover nummer 61, Enschede",6.797935e+06,6.797935e+06,5.221552e+07,5.221552e+07
30,348,"Molenveld, tegenover nummer 61, Enschede",6.799087e+06,6.799087e+06,5.221561e+07,5.221561e+07
31,246,Auke Vleerstraat (nabij kruising met fietsbrug...,6.835315e+06,6.835315e+06,5.221810e+07,5.221810e+07
32,304,"Tegenover Marssteden 61, Enschede",6.811236e+06,6.811236e+06,5.221608e+07,5.221608e+07
33,309,"Hofdijk (tussen Haimersweg en Rijksweg A35), E...",6.798102e+06,6.798102e+06,5.222193e+07,5.222193e+07
34,332,"Hofdijk t.o. Haimersweg 200, Enschede",6.806545e+06,6.806545e+06,5.222415e+07,5.222415e+07
35,310,"Hofdijk, Enschede",6.798678e+06,6.798678e+06,5.222188e+07,5.222188e+07
37,333,"Hofdijk, Enschede",6.808442e+06,6.808442e+06,5.222259e+07,5.222259e+07
38,358,"Zwartevennenweg, Enschede",6.811432e+06,6.811432e+06,5.222700e+07,5.222700e+07
39,468,"Achter Veldgeuverweg 20, Enschede",6.833029e+06,6.833029e+06,5.222793e+07,5.222793e+07
41,308,"Hofdijk, Enschede",6.797547e+06,6.797547e+06,5.222199e+07,5.222198e+07
46,464,"Burgemeester Stroinkstraat 320, Enschede",6.835777e+06,6.835777e+06,5.223000e+07,5.223000e+07
47,466,"Burgemeester Stroinkstraat 320, Enschede",6.834625e+06,6.834625e+06,5.222991e+07,5.222991e+07