In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [50]:
def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

In [88]:
inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',',)

def puntenverzamelaar2 (dataset,meters):
    locatie = []
    maxlon = []
    minlon= []
    maxlat= []
    minlat= []
    #een for loop zodat alle rows in een dataframe wordt gebruikt om meer
   # for row in dataset:
    locatie.append(dataset.loc[:, 'Locatie'])
    maxlon.append(dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters))
    minlon.append(dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters))
    maxlat.append(dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters))
    minlat.append(dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters))
    
    eindlist= pd.DataFrame(columns=["Locatie","MaxLat","MinLat","MaxLon","MinLon"])

    eindlist["Locatie"]=locatie
    eindlist["MaxLat"]=maxlat
    eindlist["MinLat"]=minlat
    eindlist["MaxLon"]=maxlon
    eindlist["MinLon"]=minlon
        
        
    return pd.DataFrame(eindlist)
print(puntenverzamelaar2(inactieveputtendf, 50))

                                             Locatie  \
0  0    Oude Hengelosedijk Enschede
1          Ba...

                                              MaxLat  \
0  0    52.233440
1    52.239805
2    52.216009
3...

                                              MinLat  \
0  0    52.232542
1    52.238907
2    52.215111
3...

                                              MaxLon  \
0  0    6.782015
1    6.814055
2    6.798962
3   ...

                                              MinLon
0  0    6.781117
1    6.813157
2    6.798064
3   ...

In [66]:
puntenverzamelaar2()

In [67]:
Lijst

Empty DataFrame
Columns: [(BoorID,), (Locatie,), (MaxLat,), (MinLat,), (MaxLon,), (MinLon,)]
Index: []

In [60]:
print(puntenverzamelaar2(inactieveputtendf, 50))

[0    Oude Hengelosedijk Enschede
1          Baardinkseweg Hengelo
2             Molenveld Enschede
3             Wullenweg Enschede
Name: Locatie, dtype: object, 0    6.782015
1    6.814055
2    6.798962
3    6.779836
Name: pnt_lon, dtype: float64, 0    6.781117
1    6.813157
2    6.798064
3    6.778938
Name: pnt_lon, dtype: float64, 0    52.233440
1    52.239805
2    52.216009
3    52.230072
Name: pnt_lat, dtype: float64, 0    52.232542
1    52.238907
2    52.215111
3    52.229174
Name: pnt_lat, dtype: float64, 0    Oude Hengelosedijk Enschede
1          Baardinkseweg Hengelo
2             Molenveld Enschede
3             Wullenweg Enschede
Name: Locatie, dtype: object, 0    6.782015
1    6.814055
2    6.798962
3    6.779836
Name: pnt_lon, dtype: float64, 0    6.781117
1    6.813157
2    6.798064
3    6.778938
Name: pnt_lon, dtype: float64, 0    52.233440
1    52.239805
2    52.216009
3    52.230072
Name: pnt_lat, dtype: float64, 0    52.232542
1    52.238907
2    52.215111
3    52.229174
Name: pnt_lat, dtype: float64, 0    Oude Hengelosedijk Enschede
1          Baardinkseweg Hengelo
2             Molenveld Enschede
3             Wullenweg Enschede
Name: Locatie, dtype: object, 0    6.782015
1    6.814055
2    6.798962
3    6.779836
Name: pnt_lon, dtype: float64, 0    6.781117
1    6.813157
2    6.798064
3    6.778938
Name: pnt_lon, dtype: float64, 0    52.233440
1    52.239805
2    52.216009
3    52.230072
Name: pnt_lat, dtype: float64, 0    52.232542
1    52.238907
2    52.215111
3    52.229174
Name: pnt_lat, dtype: float64, 0    Oude Hengelosedijk Enschede
1          Baardinkseweg Hengelo
2             Molenveld Enschede
3             Wullenweg Enschede
Name: Locatie, dtype: object, 0    6.782015
1    6.814055
2    6.798962
3    6.779836
Name: pnt_lon, dtype: float64, 0    6.781117
1    6.813157
2    6.798064
3    6.778938
Name: pnt_lon, dtype: float64, 0    52.233440
1    52.239805
2    52.216009
3    52.230072
Name: pnt_lat, dtype: float64, 0    52.232542
1    52.238907
2    52.215111
3    52.229174
Name: pnt_lat, dtype: float64]
None

In [61]:
df1

In [62]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [63]:
df= pd.read_sql("""
select * from meting m
join locatie l on
m.pnt_id = l.pnt_id;


""",engine)

In [64]:
df

Empty DataFrame
Columns: [id, pnt_id, datum, meting, sat_id, id, pnt_id, locatie, pnt_lat, pnt_lon]
Index: []