In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

%matplotlib inline

In [6]:

desired_width=320

pd.set_option('display.width', desired_width)

np.set_printoptions(linewidth=desired_width)

pd.set_option('display.max_columns',10)

#testdatafile
#inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',')
#puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')
def allesineen(boorid, radiusinmeter):
    ###########SQL stukje###########
    engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
    sqldataset = pd.read_sql_query('Select * From pnt_locatie', engine)
    sqldatasetboorquery = "Select * From boor_locatie where boor_id = "
    booridtostr = str(boorid)
    booridaddon = "'" + booridtostr + "'"
    booridcompletequery = sqldatasetboorquery + booridaddon
    sqldatasetboor = pd.read_sql_query(booridcompletequery, engine)
    print('DEVINFO: ',sqldatasetboor)

    def radiusbepaler(dataset, meters):
        # radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
        endlist = pd.DataFrame()

        def GradenNaarMeters(meters):
            graden = (meters / 30.92) / 3600
            return graden

        for row in dataset:
            boorid = endlist["BoorID"] = dataset.loc[:, 'boor_id']
            locatie = endlist["Locatie"] = dataset.loc[:, 'locatie']
            maxlon = endlist["MaxLon"] = dataset.loc[:, 'boor_lon'] + GradenNaarMeters(meters)
            minlon = endlist["MinLon"] = dataset.loc[:, 'boor_lon'] - GradenNaarMeters(meters)
            maxlat = endlist["MaxLat"] = dataset.loc[:, 'boor_lat'] + GradenNaarMeters(meters)
            minlat = endlist["MinLat"] = dataset.loc[:, 'boor_lat'] - GradenNaarMeters(meters)
        print('DEVINFO: ',endlist.head())
        return endlist

    # print(radiusbepaler(sqldatasetboor,100))

    def meetpuntenkoppelen(datasetmeetpunten, datasetboorlocatie, radius):
        # deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
        punten = []
        meting = radiusbepaler(datasetboorlocatie, radius)
        for index, row in datasetmeetpunten.iterrows():
            for lijstje_index, lijstje_row in meting.iterrows():
                if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and row[
                    'pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat']:
                    boorid = lijstje_row['BoorID']
                    locatie = lijstje_row['Locatie']
                    minlon = lijstje_row['MinLon']
                    maxlon = lijstje_row['MaxLon']
                    minlat = lijstje_row['MinLat']
                    maxlat = lijstje_row['MaxLat']
                    pnt_id = row['pnt_id']
                    pnt_lon = row['pnt_lon']
                    pnt_lat = row['pnt_lat']
                    punten.append([boorid, locatie, minlon, maxlon, minlat, maxlat, pnt_id, pnt_lon, pnt_lat])
        returndata =  pd.DataFrame(punten, columns=['boorid', 'locatie', 'minlon', 'maxlon', 'minlat', 'maxlat', 'pnt_id', 'pnt_lon', 'pnt_lat'])
        print('DEVINFO: ',returndata.head())
        return returndata
    #########vana dit punt is er verandering in vergelijking met mike.py#########

    # Dit is een tijdelijke work around voor niet schone data, dus punten waar je alleen de coordinaten hebt maar bijvoorbeeld niet de locatie en boornummer
    grondwaterontrekkinggebied = pd.DataFrame(
        {"boor_lon": [6.85581], "boor_lat": [52.35096], "Locatie": ['N/A'], "boor_id": ["N/A"]})
    # dit zijn de instellingen
    datameetpunten = meetpuntenkoppelen(sqldataset, sqldatasetboor, radiusinmeter)
    print('DEVINFO: ',datameetpunten.head())

    # dit is de select query die alle meetpunten sorteerd op punt id
    select_query = "select * from meting where pnt_id = "
    # tijdelijk lijstje
    metingentijdelijklijstje = []
    # eerste for loop zorgt voor de raw data die daarna nog per row uitgezocht moet worden zodra de tweede for loop klaar is -
    # dus per row gaat hij naar de volgende punt id en daar alle raw data van pakken
    for id in datameetpunten['pnt_id']:
        id2 = "'" + id + "'"
        var = select_query + id2
        result = pd.read_sql_query(var, engine)
        for index, row in result.iterrows():
            id = row['id']
            pnt_id = row['pnt_id']
            datum2 = row['datum']
            meting = row['meting']
            sat_id = row['sat_id']
            metingentijdelijklijstje.append([id, pnt_id, datum2, meting, sat_id])
    # deze dataframe zorgt dat de data bruikbaar is voor de volgende toepassingen
    dfpntidmeting = pd.DataFrame(metingentijdelijklijstje, columns=['id', 'pnt_id', 'datum', 'meting', 'sat_id'])
    return dfpntidmeting

In [9]:
df=allesineen(355,300)

DEVINFO:     b_id boor_id  boor_lat  boor_lon              locatie    status
0  1423     355  52.22328   6.78219  Wullenweg, Enschede  inactief
DEVINFO:    BoorID              Locatie    MaxLon    MinLon     MaxLat     MinLat
0    355  Wullenweg, Enschede  6.784885  6.779495  52.225975  52.220585
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330508P226188  6.781233  52.223403
1    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330366P226115  6.780863  52.223040
2    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L329785P226076  6.780969  52.221742
3    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330316P226114  6.780870  52.222929
4    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330329P226123  6.780881  52.222959
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330508P226188  6.781233  52.223403
1    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330366P226115  6.780863  52.223040
2    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L329785P226076  6.780969  52.221742
3    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330316P226114  6.780870  52.222929
4    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330329P226123  6.780881  52.222959

In [10]:
df

           id          pnt_id       datum  meting sat_id
0    63550333  L330508P226188  2015-04-07  0.0000      5
1    63550334  L330508P226188  2015-05-01  0.0009      5
2    63550335  L330508P226188  2015-06-18  0.0040      5
3    63550336  L330508P226188  2015-07-12 -0.0033      5
4    63550337  L330508P226188  2015-08-05 -0.0019      5
5    63550338  L330508P226188  2015-08-29 -0.0032      5
6    63550339  L330508P226188  2015-09-22  0.0002      5
7    63550340  L330508P226188  2015-10-16  0.0066      5
8    63550341  L330508P226188  2015-11-09  0.0019      5
9    63550342  L330508P226188  2015-12-03  0.0105      5
10   63550343  L330508P226188  2015-12-27  0.0105      5
11   63550344  L330508P226188  2016-01-20  0.0067      5
12   63550345  L330508P226188  2016-02-13  0.0066      5
13   63550346  L330508P226188  2016-03-08  0.0051      5
14   63550347  L330508P226188  2016-04-01  0.0004      5
15   63550348  L330508P226188  2016-04-25  0.0174      5
16   63550349  L330508P226188  2016-05-19  0.0027      5
17   63550350  L330508P226188  2016-06-12  0.0093      5
18   63550351  L330508P226188  2016-07-06  0.0023      5
19   63550352  L330508P226188  2016-07-30  0.0016      5
20   63550353  L330508P226188  2016-08-23  0.0021      5
21   63550354  L330508P226188  2016-09-16  0.0010      5
22   63550355  L330508P226188  2016-10-10  0.0019      5
23   63550356  L330508P226188  2016-11-03  0.0106      5
24   63550357  L330508P226188  2016-11-27  0.0107      5
25   63550358  L330508P226188  2016-12-21  0.0146      5
26   63550359  L330508P226188  2017-01-14  0.0099      5
27   63550360  L330508P226188  2017-02-07  0.0100      5
28   63550361  L330508P226188  2017-03-03  0.0103      5
29   63550362  L330508P226188  2017-03-27  0.0035      5
..        ...             ...         ...     ...    ...
810  66018951  L330405P226240  2017-01-14  0.0085      2
811  66018952  L330405P226240  2017-02-07  0.0129      2
812  66018953  L330405P226240  2017-03-03  0.0085      2
813  66018954  L330405P226240  2017-03-27  0.0096      2
814  66018955  L330405P226240  2017-04-20  0.0041      2
815  66018956  L330405P226240  2017-05-14  0.0048      2
816  66018957  L330405P226240  2017-06-07 -0.0012      2
817  66018958  L330405P226240  2017-07-01  0.0019      2
818  66018959  L330405P226240  2017-07-25  0.0050      2
819  66018960  L330405P226240  2017-08-18  0.0090      2
820  66018961  L330405P226240  2017-09-11  0.0039      2
821  66018962  L330405P226240  2017-10-05  0.0115      2
822  66018963  L330405P226240  2017-10-29  0.0025      2
823  66018964  L330405P226240  2017-11-22  0.0068      2
824  66018965  L330405P226240  2017-12-16  0.0123      2
825  66018966  L330405P226240  2018-01-09  0.0124      2
826  66018967  L330405P226240  2018-02-02  0.0098      2
827  66018968  L330405P226240  2018-02-26  0.0037      2
828  66018969  L330405P226240  2018-03-22  0.0103      2
829  66018970  L330405P226240  2018-04-15  0.0095      2
830  66018971  L330405P226240  2018-05-09  0.0048      2
831  66018972  L330405P226240  2018-06-02  0.0015      2
832  66018973  L330405P226240  2018-06-26 -0.0012      2
833  66018974  L330405P226240  2018-07-20 -0.0030      2
834  66018975  L330405P226240  2018-08-13 -0.0089      2
835  66018976  L330405P226240  2018-09-06 -0.0076      2
836  66018977  L330405P226240  2018-09-30 -0.0075      2
837  66018978  L330405P226240  2018-10-24  0.0022      2
838  66018979  L330405P226240  2018-11-17  0.0018      2
839  66018980  L330405P226240  2018-12-11  0.0032      2

[840 rows x 5 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
id        840 non-null int64
pnt_id    840 non-null object
datum     840 non-null object
meting    840 non-null float64
sat_id    840 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 32.9+ KB

In [12]:
df['datum']=pd.to_datetime(df['datum'])
df['sat_id']=df['sat_id'].astype('int')

In [13]:
df.head()

         id          pnt_id      datum  meting  sat_id
0  63550333  L330508P226188 2015-04-07  0.0000       5
1  63550334  L330508P226188 2015-05-01  0.0009       5
2  63550335  L330508P226188 2015-06-18  0.0040       5
3  63550336  L330508P226188 2015-07-12 -0.0033       5
4  63550337  L330508P226188 2015-08-05 -0.0019       5

In [14]:
df1=df.loc[df['sat_id']==1]
df2=df.loc[df['sat_id']==2]
df3=df.loc[df['sat_id']==5]
df4=df.loc[df['sat_id']==6]

In [15]:
df1

           id          pnt_id      datum  meting  sat_id
280  64610218  L330505P226173 2017-03-27 -0.0034       1
281  64610219  L330505P226173 2017-04-20 -0.0057       1
282  64610220  L330505P226173 2017-05-14 -0.0092       1
283  64610221  L330505P226173 2017-06-07 -0.0056       1
284  64610222  L330505P226173 2017-07-01 -0.0084       1
285  64610223  L330505P226173 2017-07-25 -0.0086       1
286  64610224  L330505P226173 2017-08-18 -0.0070       1
287  64610225  L330505P226173 2017-09-11 -0.0007       1
288  64610226  L330505P226173 2017-10-05 -0.0009       1
289  64610227  L330505P226173 2017-10-29  0.0010       1
290  64610228  L330505P226173 2017-11-22  0.0002       1
291  64610229  L330505P226173 2017-12-16 -0.0008       1
292  64610230  L330505P226173 2018-01-09  0.0009       1
293  64610231  L330505P226173 2018-02-02 -0.0021       1
294  64610232  L330505P226173 2018-02-26 -0.0028       1
295  64610233  L330505P226173 2018-03-22 -0.0009       1
296  64610234  L330505P226173 2018-04-15 -0.0022       1
297  64610235  L330505P226173 2018-05-09 -0.0059       1
298  64610236  L330505P226173 2018-06-02  0.0007       1
299  64610237  L330505P226173 2018-06-26 -0.0103       1
300  64610238  L330505P226173 2018-07-20 -0.0154       1
301  64610239  L330505P226173 2018-08-13 -0.0084       1
302  64610240  L330505P226173 2018-09-06 -0.0120       1
303  64610241  L330505P226173 2018-09-30 -0.0121       1
304  64610242  L330505P226173 2018-10-24 -0.0060       1
305  64610243  L330505P226173 2018-11-17 -0.0055       1
306  64610244  L330505P226173 2018-12-11 -0.0017       1
307  64610189  L330505P226173 2015-04-07  0.0000       1
308  64610190  L330505P226173 2015-05-01 -0.0131       1
309  64610191  L330505P226173 2015-06-18 -0.0045       1
..        ...             ...        ...     ...     ...
418  64610428  L330374P226123 2016-04-25  0.0004       1
419  64610429  L330374P226123 2016-05-19 -0.0010       1
420  64610430  L330374P226123 2016-06-12  0.0005       1
421  64610431  L330374P226123 2016-07-06 -0.0009       1
422  64610432  L330374P226123 2016-07-30  0.0027       1
423  64610433  L330374P226123 2016-08-23 -0.0034       1
424  64610434  L330374P226123 2016-09-16  0.0001       1
425  64610435  L330374P226123 2016-10-10 -0.0015       1
426  64610436  L330374P226123 2016-11-03 -0.0061       1
427  64610437  L330374P226123 2016-11-27 -0.0039       1
428  64610438  L330374P226123 2016-12-21 -0.0059       1
429  64610439  L330374P226123 2017-01-14 -0.0036       1
430  64610440  L330374P226123 2017-02-07 -0.0032       1
431  64610441  L330374P226123 2017-03-03 -0.0018       1
432  64610442  L330374P226123 2017-03-27  0.0006       1
433  64610443  L330374P226123 2017-04-20  0.0004       1
434  64610444  L330374P226123 2017-05-14 -0.0029       1
435  64610445  L330374P226123 2017-06-07 -0.0031       1
436  64610446  L330374P226123 2017-07-01 -0.0075       1
437  64610447  L330374P226123 2017-07-25 -0.0028       1
438  64610448  L330374P226123 2017-08-18 -0.0031       1
439  64610449  L330374P226123 2017-09-11 -0.0185       1
440  64610450  L330374P226123 2017-10-05 -0.0017       1
441  64610451  L330374P226123 2017-10-29 -0.0041       1
442  64610452  L330374P226123 2017-11-22 -0.0049       1
443  64610453  L330374P226123 2017-12-16 -0.0043       1
444  64610454  L330374P226123 2018-01-09 -0.0101       1
445  64610455  L330374P226123 2018-02-02  0.0023       1
446  64610456  L330374P226123 2018-02-26 -0.0101       1
447  64610457  L330374P226123 2018-03-22 -0.0048       1

[168 rows x 5 columns]

In [16]:


df=df.sort_values(by='datum')

In [17]:
df['maand'] = pd.to_datetime(df['datum']).dt.strftime('%m')

In [21]:
from sklearn.model_selection import train_test_split
X= [df1['meting'],df2['meting']]
y=df1['datum']

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=77)

ValueError: Found input variables with inconsistent numbers of samples: [168, 2]

In [ ]:
df.info()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split (y,x, test_size=0.3, random_state = 89 , stratify = y)

In [39]:
lineaire_regressie(355, 50)

In [50]:
OmliggendeOmgeving(355,50)