In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [31]:

desired_width=320

pd.set_option('display.width', desired_width)

np.set_printoptions(linewidth=desired_width)

pd.set_option('display.max_columns',10)

#testdatafile
#inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',')
#puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')
def allesineen(boorid, radiusinmeter):
    ###########SQL stukje###########
    engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
    sqldataset = pd.read_sql_query('Select * From pnt_locatie', engine)
    sqldatasetboorquery = "Select * From boor_locatie where boor_id = "
    booridtostr = str(boorid)
    booridaddon = "'" + booridtostr + "'"
    booridcompletequery = sqldatasetboorquery + booridaddon
    sqldatasetboor = pd.read_sql_query(booridcompletequery, engine)
    print('DEVINFO: ',sqldatasetboor)

    def radiusbepaler(dataset, meters):
        # radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
        endlist = pd.DataFrame()

        def GradenNaarMeters(meters):
            graden = (meters / 30.92) / 3600
            return graden

        for row in dataset:
            boorid = endlist["BoorID"] = dataset.loc[:, 'boor_id']
            locatie = endlist["Locatie"] = dataset.loc[:, 'locatie']
            maxlon = endlist["MaxLon"] = dataset.loc[:, 'boor_lon'] + GradenNaarMeters(meters)
            minlon = endlist["MinLon"] = dataset.loc[:, 'boor_lon'] - GradenNaarMeters(meters)
            maxlat = endlist["MaxLat"] = dataset.loc[:, 'boor_lat'] + GradenNaarMeters(meters)
            minlat = endlist["MinLat"] = dataset.loc[:, 'boor_lat'] - GradenNaarMeters(meters)
        print('DEVINFO: ',endlist.head())
        return endlist

    # print(radiusbepaler(sqldatasetboor,100))

    def meetpuntenkoppelen(datasetmeetpunten, datasetboorlocatie, radius):
        # deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
        punten = []
        meting = radiusbepaler(datasetboorlocatie, radius)
        for index, row in datasetmeetpunten.iterrows():
            for lijstje_index, lijstje_row in meting.iterrows():
                if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and row[
                    'pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat']:
                    boorid = lijstje_row['BoorID']
                    locatie = lijstje_row['Locatie']
                    minlon = lijstje_row['MinLon']
                    maxlon = lijstje_row['MaxLon']
                    minlat = lijstje_row['MinLat']
                    maxlat = lijstje_row['MaxLat']
                    pnt_id = row['pnt_id']
                    pnt_lon = row['pnt_lon']
                    pnt_lat = row['pnt_lat']
                    punten.append([boorid, locatie, minlon, maxlon, minlat, maxlat, pnt_id, pnt_lon, pnt_lat])
        returndata =  pd.DataFrame(punten, columns=['boorid', 'locatie', 'minlon', 'maxlon', 'minlat', 'maxlat', 'pnt_id', 'pnt_lon', 'pnt_lat'])
        print('DEVINFO: ',returndata.head())
        return returndata
    #########vana dit punt is er verandering in vergelijking met mike.py#########

    # Dit is een tijdelijke work around voor niet schone data, dus punten waar je alleen de coordinaten hebt maar bijvoorbeeld niet de locatie en boornummer
    grondwaterontrekkinggebied = pd.DataFrame(
        {"boor_lon": [6.85581], "boor_lat": [52.35096], "Locatie": ['N/A'], "boor_id": ["N/A"]})
    # dit zijn de instellingen
    datameetpunten = meetpuntenkoppelen(sqldataset, sqldatasetboor, radiusinmeter)
    print('DEVINFO: ',datameetpunten.head())

    # dit is de select query die alle meetpunten sorteerd op punt id
    select_query = "select * from meting where pnt_id = "
    # tijdelijk lijstje
    metingentijdelijklijstje = []
    # eerste for loop zorgt voor de raw data die daarna nog per row uitgezocht moet worden zodra de tweede for loop klaar is -
    # dus per row gaat hij naar de volgende punt id en daar alle raw data van pakken
    for id in datameetpunten['pnt_id']:
        id2 = "'" + id + "'"
        var = select_query + id2
        result = pd.read_sql_query(var, engine)
        for index, row in result.iterrows():
            id = row['id']
            pnt_id = row['pnt_id']
            datum2 = row['datum']
            meting = row['meting']
            sat_id = row['sat_id']
            metingentijdelijklijstje.append([id, pnt_id, datum2, meting, sat_id])
    # deze dataframe zorgt dat de data bruikbaar is voor de volgende toepassingen
    dfpntidmeting = pd.DataFrame(metingentijdelijklijstje, columns=['id', 'pnt_id', 'datum', 'meting', 'sat_id'])
    print('DEVINFO: ',dfpntidmeting)
    return dfpntidmeting

In [32]:
df=allesineen(355,100)

DEVINFO:     b_id boor_id  boor_lat  boor_lon              locatie    status
0  1423     355  52.22328   6.78219  Wullenweg, Enschede  inactief
DEVINFO:    BoorID              Locatie    MaxLon    MinLon     MaxLat     MinLat
0    355  Wullenweg, Enschede  6.783088  6.781292  52.224178  52.222382
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330421P226246  6.781542  52.223241
1    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330435P226240  6.781463  52.223263
2    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330405P226240  6.781521  52.223202
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330421P226246  6.781542  52.223241
1    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330435P226240  6.781463  52.223263
2    355  Wullenweg, Enschede  6.781292  6.783088  52.222382  52.224178  L330405P226240  6.781521  52.223202
DEVINFO:             id          pnt_id       datum  meting sat_id
0    65889789  L330421P226246  2015-04-07  0.0000      2
1    65889790  L330421P226246  2015-05-01  0.0001      2
2    65889791  L330421P226246  2015-06-18  0.0006      2
3    65889792  L330421P226246  2015-07-12  0.0000      2
4    65889793  L330421P226246  2015-08-05 -0.0004      2
5    65889794  L330421P226246  2015-08-29 -0.0049      2
6    65889795  L330421P226246  2015-09-22 -0.0011      2
7    65889796  L330421P226246  2015-10-16  0.0017      2
8    65889797  L330421P226246  2015-11-09  0.0024      2
9    65889798  L330421P226246  2015-12-03  0.0000      2
10   65889799  L330421P226246  2015-12-27  0.0036      2
11   65889800  L330421P226246  2016-01-20  0.0027      2
12   65889801  L330421P226246  2016-02-13  0.0009      2
13   65889802  L330421P226246  2016-03-08 -0.0002      2
14   65889803  L330421P226246  2016-04-01 -0.0031      2
15   65889804  L330421P226246  2016-04-25  0.0038      2
16   65889805  L330421P226246  2016-05-19 -0.0024      2
17   65889806  L330421P226246  2016-06-12 -0.0048      2
18   65889807  L330421P226246  2016-07-06 -0.0052      2
19   65889808  L330421P226246  2016-07-30  0.0046      2
20   65889809  L330421P226246  2016-08-23 -0.0035      2
21   65889810  L330421P226246  2016-09-16 -0.0029      2
22   65889811  L330421P226246  2016-10-10 -0.0014      2
23   65889812  L330421P226246  2016-11-03  0.0008      2
24   65889813  L330421P226246  2016-11-27  0.0013      2
25   65889814  L330421P226246  2016-12-21  0.0021      2
26   65889815  L330421P226246  2017-01-14 -0.0014      2
27   65889816  L330421P226246  2017-02-07  0.0004      2
28   65889817  L330421P226246  2017-03-03 -0.0003      2
29   65889818  L330421P226246  2017-03-27 -0.0071      2
..        ...             ...         ...     ...    ...
138  66018951  L330405P226240  2017-01-14  0.0085      2
139  66018952  L330405P226240  2017-02-07  0.0129      2
140  66018953  L330405P226240  2017-03-03  0.0085      2
141  66018954  L330405P226240  2017-03-27  0.0096      2
142  66018955  L330405P226240  2017-04-20  0.0041      2
143  66018956  L330405P226240  2017-05-14  0.0048      2
144  66018957  L330405P226240  2017-06-07 -0.0012      2
145  66018958  L330405P226240  2017-07-01  0.0019      2
146  66018959  L330405P226240  2017-07-25  0.0050      2
147  66018960  L330405P226240  2017-08-18  0.0090      2
148  66018961  L330405P226240  2017-09-11  0.0039      2
149  66018962  L330405P226240  2017-10-05  0.0115      2
150  66018963  L330405P226240  2017-10-29  0.0025      2
151  66018964  L330405P226240  2017-11-22  0.0068      2
152  66018965  L330405P226240  2017-12-16  0.0123      2
153  66018966  L330405P226240  2018-01-09  0.0124      2
154  66018967  L330405P226240  2018-02-02  0.0098      2
155  66018968  L330405P226240  2018-02-26  0.0037      2
156  66018969  L330405P226240  2018-03-22  0.0103      2
157  66018970  L330405P226240  2018-04-15  0.0095      2
158  66018971  L330405P226240  2018-05-09  0.0048      2
159  66018972  L330405P226240  2018-06-02  0.0015      2
160  66018973  L330405P226240  2018-06-26 -0.0012      2
161  66018974  L330405P226240  2018-07-20 -0.0030      2
162  66018975  L330405P226240  2018-08-13 -0.0089      2
163  66018976  L330405P226240  2018-09-06 -0.0076      2
164  66018977  L330405P226240  2018-09-30 -0.0075      2
165  66018978  L330405P226240  2018-10-24  0.0022      2
166  66018979  L330405P226240  2018-11-17  0.0018      2
167  66018980  L330405P226240  2018-12-11  0.0032      2

[168 rows x 5 columns]

In [33]:
df

           id          pnt_id       datum  meting sat_id
0    65889789  L330421P226246  2015-04-07  0.0000      2
1    65889790  L330421P226246  2015-05-01  0.0001      2
2    65889791  L330421P226246  2015-06-18  0.0006      2
3    65889792  L330421P226246  2015-07-12  0.0000      2
4    65889793  L330421P226246  2015-08-05 -0.0004      2
5    65889794  L330421P226246  2015-08-29 -0.0049      2
6    65889795  L330421P226246  2015-09-22 -0.0011      2
7    65889796  L330421P226246  2015-10-16  0.0017      2
8    65889797  L330421P226246  2015-11-09  0.0024      2
9    65889798  L330421P226246  2015-12-03  0.0000      2
10   65889799  L330421P226246  2015-12-27  0.0036      2
11   65889800  L330421P226246  2016-01-20  0.0027      2
12   65889801  L330421P226246  2016-02-13  0.0009      2
13   65889802  L330421P226246  2016-03-08 -0.0002      2
14   65889803  L330421P226246  2016-04-01 -0.0031      2
15   65889804  L330421P226246  2016-04-25  0.0038      2
16   65889805  L330421P226246  2016-05-19 -0.0024      2
17   65889806  L330421P226246  2016-06-12 -0.0048      2
18   65889807  L330421P226246  2016-07-06 -0.0052      2
19   65889808  L330421P226246  2016-07-30  0.0046      2
20   65889809  L330421P226246  2016-08-23 -0.0035      2
21   65889810  L330421P226246  2016-09-16 -0.0029      2
22   65889811  L330421P226246  2016-10-10 -0.0014      2
23   65889812  L330421P226246  2016-11-03  0.0008      2
24   65889813  L330421P226246  2016-11-27  0.0013      2
25   65889814  L330421P226246  2016-12-21  0.0021      2
26   65889815  L330421P226246  2017-01-14 -0.0014      2
27   65889816  L330421P226246  2017-02-07  0.0004      2
28   65889817  L330421P226246  2017-03-03 -0.0003      2
29   65889818  L330421P226246  2017-03-27 -0.0071      2
..        ...             ...         ...     ...    ...
138  66018951  L330405P226240  2017-01-14  0.0085      2
139  66018952  L330405P226240  2017-02-07  0.0129      2
140  66018953  L330405P226240  2017-03-03  0.0085      2
141  66018954  L330405P226240  2017-03-27  0.0096      2
142  66018955  L330405P226240  2017-04-20  0.0041      2
143  66018956  L330405P226240  2017-05-14  0.0048      2
144  66018957  L330405P226240  2017-06-07 -0.0012      2
145  66018958  L330405P226240  2017-07-01  0.0019      2
146  66018959  L330405P226240  2017-07-25  0.0050      2
147  66018960  L330405P226240  2017-08-18  0.0090      2
148  66018961  L330405P226240  2017-09-11  0.0039      2
149  66018962  L330405P226240  2017-10-05  0.0115      2
150  66018963  L330405P226240  2017-10-29  0.0025      2
151  66018964  L330405P226240  2017-11-22  0.0068      2
152  66018965  L330405P226240  2017-12-16  0.0123      2
153  66018966  L330405P226240  2018-01-09  0.0124      2
154  66018967  L330405P226240  2018-02-02  0.0098      2
155  66018968  L330405P226240  2018-02-26  0.0037      2
156  66018969  L330405P226240  2018-03-22  0.0103      2
157  66018970  L330405P226240  2018-04-15  0.0095      2
158  66018971  L330405P226240  2018-05-09  0.0048      2
159  66018972  L330405P226240  2018-06-02  0.0015      2
160  66018973  L330405P226240  2018-06-26 -0.0012      2
161  66018974  L330405P226240  2018-07-20 -0.0030      2
162  66018975  L330405P226240  2018-08-13 -0.0089      2
163  66018976  L330405P226240  2018-09-06 -0.0076      2
164  66018977  L330405P226240  2018-09-30 -0.0075      2
165  66018978  L330405P226240  2018-10-24  0.0022      2
166  66018979  L330405P226240  2018-11-17  0.0018      2
167  66018980  L330405P226240  2018-12-11  0.0032      2

[168 rows x 5 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 5 columns):
id        168 non-null int64
pnt_id    168 non-null object
datum     168 non-null object
meting    168 non-null float64
sat_id    168 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.6+ KB

In [40]:

from sklearn.model_selection import train_test_split
x= df['datum']
y= df[['meting','sat_id']]

In [42]:
x_train, x_test, y_train, y_test = train_test_split (y,x, test_size=0.3, random_state = 89 , stratify = y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.