In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [50]:
def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

In [52]:
inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',',)

def puntenverzamelaar2 (dataset,meters):
    eindlist = pd.Dataframe()
    eindlist.column
    for row in dataset:
        #id = puntenlijst.append(dataset.loc[:, 'pnt_id'])
        maxlon = eindlist.append(dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters))
        minlon = eindlist.append(dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters))
        maxlan = eindlist.append(dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters))
        minlan = eindlist.append(dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters))
       pd.DataFrame([eindlist]) 
    return print(eindlist)
print(puntenverzamelaar2(inactieveputtendf, 50))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [45]:
df1

   Boring                      Locatie    pnt_lat   pnt_lon
0     132  Oude Hengelosedijk Enschede  52.232991  6.781566
1     259        Baardinkseweg Hengelo  52.239356  6.813606
2     343           Molenveld Enschede  52.215560  6.798513
3     357           Wullenweg Enschede  52.229623  6.779387

In [25]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [34]:
df= pd.read_sql("""
select * from meting m
join locatie l on
m.pnt_id = l.pnt_id;


""",engine)

In [35]:
df

Empty DataFrame
Columns: [id, pnt_id, datum, meting, sat_id, id, pnt_id, locatie, pnt_lat, pnt_lon]
Index: []

In [ ]:
def puntenverzamelaar(df):