In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from sqlalchemy import create_engine
import sqlite3
import matplotlib.pyplot as plt
from sklearn import linear_model

In [41]:

#testdatafile
#inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',')
#puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')

###########SQL stukje###########
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
sqldataset = pd.read_sql_query('Select * From locatie limit 10000',engine)
print(sqldataset.head())

def radiusbepaler (dataset,meters):
    #radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
    endlist= pd.DataFrame()
    def GradenNaarMeters(meters):
        graden = (meters / 30.92) / 3600
        return graden
    for row in dataset:
        #boorid = endlist["BoorID"] = dataset.loc[:, 'id']
        #locatie = endlist["Locatie"] = dataset.loc[:, 'Locatie']
        maxlon = endlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        minlon = endlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        maxlat = endlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        minlat = endlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return endlist


def meetpuntenkoppelen(datasetmeetpunten,datasetboorlocatie,radius):
    #deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
    punten = []
    meting = radiusbepaler(datasetboorlocatie,radius)
    for index, row in datasetmeetpunten.iterrows():
        for lijstje_index, lijstje_row in meting.iterrows() :
            if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and  row['pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat'] :
                #boorid = lijstje_row['BoorID']
                #locatie = lijstje_row['Locatie']
                minlon = lijstje_row['MinLon']
                maxlon = lijstje_row['MaxLon']
                minlat = lijstje_row['MinLat']
                maxlat = lijstje_row['MaxLat']
                pnt_id = row['pnt_id']
                pnt_lon = row['pnt_lon']
                pnt_lat = row['pnt_lat']
                punten.append([boorid,locatie,minlon,maxlon,minlat,maxlat,pnt_id,pnt_lon,pnt_lat])
    return pd.DataFrame(punten,columns=['boorid','locatie','minlon','maxlon','minlat','maxlat','pnt_id','pnt_lon','pnt_lat'])


#print(meetpuntenkoppelen(sqldataset,inactieveputtendf, 1500000))
#def koppelmeetpuntenmetboorlocaties(datasetmeetpunten,datasetboorlocatie,radius,bestandsnaam,):
#    meetpuntenkoppelen(datasetmeetpunten,datasetboorlocatie,radius).to_csv(bestandsnaam'.csv',index=False)

   id          pnt_id    pnt_lat   pnt_lon    locatie
0   1  L373252P179009  52.283131  6.453700  Rodenmors
1   2  L373223P179007  52.283073  6.453774  Rodenmors
2   3  L373257P178125  52.282494  6.448001  Rodenmors
3   4  L373264P179019  52.283166  6.453776  Rodenmors
4   5  L373287P179037  52.283219  6.453800  Rodenmors

In [38]:
test123 = pd.DataFrame({"pnt_lon":[6.85581], 
                         "pnt_lat":[52.35096]})
boorlocatie = radiusbepaler(test123, 1000)
boorlocatie.head()

     MaxLon    MinLon     MaxLat     MinLat
0  6.864794  6.846826  52.359944  52.341976

In [40]:
meetpuntenkoppelen(sqldataset,boorlocatie,1000)

KeyError: 'the label [pnt_lon] is not in the [columns]'

In [4]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [5]:
query = "SELECT * FROM meting WHERE pnt_id = 'L485027P138209'"

In [8]:
df = pd.read_sql(query, engine)

        datum  meting
0  2015-04-07  0.0000
1  2015-05-01 -0.0020
2  2015-06-18 -0.0012
3  2015-07-12 -0.0010
4  2015-08-05  0.0023

In [17]:
df = df[['datum', 'meting']]
df['datum'] = df['datum'].map(datetime.datetime.toordinal)
df.head()

    datum  meting
0  735695  0.0000
1  735719 -0.0020
2  735767 -0.0012
3  735791 -0.0010
4  735815  0.0023

In [24]:
x = pd.DataFrame(df['datum'])
y = pd.DataFrame(df['meting'])
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.6, random_state=1)
#reg_all = linear_model.LinearRegression()
lasso = Lasso()
lasso.fit(X_train, y_train)
#lasso_coef = lasso.fit(X_train, y_train).coef_
y_pred = lasso.predict(X_test)
lasso.score(X_test, y_test)
print(r2_score(y_test,y_pred))

0.7130764032632663

In [45]:
y_prediction = pd.DataFrame(y_pred)
y_prediction

datum = pd.DataFrame(df['datum'])
datum

     datum
0   735695
1   735719
2   735767
3   735791
4   735815
5   735839
6   735863
7   735887
8   735911
9   735935
10  735959
11  735983
12  736007
13  736031
14  736055
15  736079
16  736103
17  736127
18  736151
19  736175
20  736199
21  736223
22  736247
23  736271
24  736295
25  736319
26  736343
27  736367
28  736391
29  736415
30  736439
31  736463
32  736487
33  736511
34  736535
35  736559
36  736583
37  736607
38  736631
39  736655
40  736679
41  736703
42  736727
43  736751
44  736775
45  736799
46  736823
47  736847
48  736871
49  736895
50  736919
51  736943
52  736967
53  736991
54  737015
55  737039

AttributeError: 'Series' object has no attribute 'sort'