In [245]:
import numpy as np
import pandas as pd
import seaborn as sns
import csv
import datetime
import sys
from datetime import datetime
%matplotlib inline

In [246]:
df= pd.read_csv('chartdiv_prov_overijssel_nl_east_rsat2_dsc_s3_v3_ds_punten_grid_size_300.0_scale_15000_threshold_4RSAT-S3 dsc DS.csv',sep=',"',decimal=",",engine='python')

In [247]:
df.head()

,"""date","""deformation""""","""defo_est""""","""deformation_high""""","""deformation_low""""","""unit"""""""
0,"""2010-06-03","""0.0""""","""-1.1""""","""26.0""""","""-26.0""""","""mm"""""""
1,"""2010-06-27","""-1.4""""","""-1.1""""","""24.6""""","""-27.4""""","""mm"""""""
2,"""2010-07-21","""0.8""""","""-1.2""""","""26.8""""","""-25.2""""","""mm"""""""
3,"""2010-08-14","""-1.0""""","""-1.2""""","""25.0""""","""-27.0""""","""mm"""""""
4,"""2010-09-07","""-1.2""""","""-1.2""""","""24.8""""","""-27.2""""","""mm"""""""

In [248]:
def verwijderen(df):
    df.columns= df.columns.str.replace('"','')
    df.columns= df.columns.str.replace('.','')
    for i in range(6):   
     df.iloc[:,i]=df.iloc[:,i].str.replace('"','')
      
    return df

In [249]:
df1=verwijderen(df)

In [250]:
df1.head()
#testing

         date deformation defo_est deformation_high deformation_low unit
0  2010-06-03         0.0     -1.1             26.0           -26.0   mm
1  2010-06-27        -1.4     -1.1             24.6           -27.4   mm
2  2010-07-21         0.8     -1.2             26.8           -25.2   mm
3  2010-08-14        -1.0     -1.2             25.0           -27.0   mm
4  2010-09-07        -1.2     -1.2             24.8           -27.2   mm

In [251]:
df1.dtypes

date                object
deformation         object
defo_est            object
deformation_high    object
deformation_low     object
unit                object
dtype: object

In [282]:
def typeconverter(df):

    
    verwijderen(df)
    df1= df[["deformation","defo_est","deformation_high","deformation_low"]].astype(np.float64)
    df1= pd.DataFrame(df1)
    df2= pd.to_datetime(df['date'],yearfirst=True)
    df2= pd.DataFrame(df2)
    df1['date']=df2['date']
    df1= df1[['date',"deformation","defo_est","deformation_high","deformation_low"]]
   
    return df1

In [284]:
df= typeconverter(df1)
df.head()

        date  deformation  defo_est  deformation_high  deformation_low
0 2010-06-03          0.0      -1.1              26.0            -26.0
1 2010-06-27         -1.4      -1.1              24.6            -27.4
2 2010-07-21          0.8      -1.2              26.8            -25.2
3 2010-08-14         -1.0      -1.2              25.0            -27.0
4 2010-09-07         -1.2      -1.2              24.8            -27.2

In [285]:
df.dtypes

date                datetime64[ns]
deformation                float64
defo_est                   float64
deformation_high           float64
deformation_low            float64
dtype: object