In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
%matplotlib inline

In [31]:

desired_width=320

pd.set_option('display.width', desired_width)

np.set_printoptions(linewidth=desired_width)

pd.set_option('display.max_columns',10)

#testdatafile
#inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',')
#puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')
def allesineen(boorid, radiusinmeter):
    ###########SQL stukje###########
    engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')
    sqldataset = pd.read_sql_query('Select * From pnt_locatie', engine)
    sqldatasetboorquery = "Select * From boor_locatie where boor_id = "
    booridtostr = str(boorid)
    booridaddon = "'" + booridtostr + "'"
    booridcompletequery = sqldatasetboorquery + booridaddon
    sqldatasetboor = pd.read_sql_query(booridcompletequery, engine)
    print('DEVINFO: ',sqldatasetboor)

    def radiusbepaler(dataset, meters):
        # radiusbepaler zorgt ervoor dat er een dataframe gevult met de boorlocaties en de desbetreffende radius in meters wordt gereturned
        endlist = pd.DataFrame()

        def GradenNaarMeters(meters):
            graden = (meters / 30.92) / 3600
            return graden

        for row in dataset:
            boorid = endlist["BoorID"] = dataset.loc[:, 'boor_id']
            locatie = endlist["Locatie"] = dataset.loc[:, 'locatie']
            maxlon = endlist["MaxLon"] = dataset.loc[:, 'boor_lon'] + GradenNaarMeters(meters)
            minlon = endlist["MinLon"] = dataset.loc[:, 'boor_lon'] - GradenNaarMeters(meters)
            maxlat = endlist["MaxLat"] = dataset.loc[:, 'boor_lat'] + GradenNaarMeters(meters)
            minlat = endlist["MinLat"] = dataset.loc[:, 'boor_lat'] - GradenNaarMeters(meters)
        print('DEVINFO: ',endlist.head())
        return endlist

    # print(radiusbepaler(sqldatasetboor,100))

    def meetpuntenkoppelen(datasetmeetpunten, datasetboorlocatie, radius):
        # deze functie zorgt ervoor dat de meetpunten gekoppeld worden aan een boorlocatie zodra die binnen de opgegeven radius zit
        punten = []
        meting = radiusbepaler(datasetboorlocatie, radius)
        for index, row in datasetmeetpunten.iterrows():
            for lijstje_index, lijstje_row in meting.iterrows():
                if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and row[
                    'pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat']:
                    boorid = lijstje_row['BoorID']
                    locatie = lijstje_row['Locatie']
                    minlon = lijstje_row['MinLon']
                    maxlon = lijstje_row['MaxLon']
                    minlat = lijstje_row['MinLat']
                    maxlat = lijstje_row['MaxLat']
                    pnt_id = row['pnt_id']
                    pnt_lon = row['pnt_lon']
                    pnt_lat = row['pnt_lat']
                    punten.append([boorid, locatie, minlon, maxlon, minlat, maxlat, pnt_id, pnt_lon, pnt_lat])
        returndata =  pd.DataFrame(punten, columns=['boorid', 'locatie', 'minlon', 'maxlon', 'minlat', 'maxlat', 'pnt_id', 'pnt_lon', 'pnt_lat'])
        print('DEVINFO: ',returndata.head())
        return returndata
    #########vana dit punt is er verandering in vergelijking met mike.py#########

    # Dit is een tijdelijke work around voor niet schone data, dus punten waar je alleen de coordinaten hebt maar bijvoorbeeld niet de locatie en boornummer
    grondwaterontrekkinggebied = pd.DataFrame(
        {"boor_lon": [6.85581], "boor_lat": [52.35096], "Locatie": ['N/A'], "boor_id": ["N/A"]})
    # dit zijn de instellingen
    datameetpunten = meetpuntenkoppelen(sqldataset, sqldatasetboor, radiusinmeter)
    print('DEVINFO: ',datameetpunten.head())

    # dit is de select query die alle meetpunten sorteerd op punt id
    select_query = "select * from meting where pnt_id = "
    # tijdelijk lijstje
    metingentijdelijklijstje = []
    # eerste for loop zorgt voor de raw data die daarna nog per row uitgezocht moet worden zodra de tweede for loop klaar is -
    # dus per row gaat hij naar de volgende punt id en daar alle raw data van pakken
    for id in datameetpunten['pnt_id']:
        id2 = "'" + id + "'"
        var = select_query + id2
        result = pd.read_sql_query(var, engine)
        for index, row in result.iterrows():
            id = row['id']
            pnt_id = row['pnt_id']
            datum2 = row['datum']
            meting = row['meting']
            sat_id = row['sat_id']
            metingentijdelijklijstje.append([id, pnt_id, datum2, meting, sat_id])
    # deze dataframe zorgt dat de data bruikbaar is voor de volgende toepassingen
    dfpntidmeting = pd.DataFrame(metingentijdelijklijstje, columns=['id', 'pnt_id', 'datum', 'meting', 'sat_id'])
    return dfpntidmeting

In [32]:
df=allesineen(355,300)

DEVINFO:     b_id boor_id  boor_lat  boor_lon              locatie    status
0  1423     355  52.22328   6.78219  Wullenweg, Enschede  inactief
DEVINFO:    BoorID              Locatie    MaxLon    MinLon     MaxLat     MinLat
0    355  Wullenweg, Enschede  6.784885  6.779495  52.225975  52.220585
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330508P226188  6.781233  52.223403
1    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330366P226115  6.780863  52.223040
2    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L329785P226076  6.780969  52.221742
3    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330316P226114  6.780870  52.222929
4    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330329P226123  6.780881  52.222959
DEVINFO:    boorid              locatie    minlon    maxlon     minlat     maxlat          pnt_id   pnt_lon    pnt_lat
0    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330508P226188  6.781233  52.223403
1    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330366P226115  6.780863  52.223040
2    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L329785P226076  6.780969  52.221742
3    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330316P226114  6.780870  52.222929
4    355  Wullenweg, Enschede  6.779495  6.784885  52.220585  52.225975  L330329P226123  6.780881  52.222959

In [33]:
df

           id          pnt_id       datum  meting sat_id
0    63550333  L330508P226188  2015-04-07  0.0000      5
1    63550334  L330508P226188  2015-05-01  0.0009      5
2    63550335  L330508P226188  2015-06-18  0.0040      5
3    63550336  L330508P226188  2015-07-12 -0.0033      5
4    63550337  L330508P226188  2015-08-05 -0.0019      5
5    63550338  L330508P226188  2015-08-29 -0.0032      5
6    63550339  L330508P226188  2015-09-22  0.0002      5
7    63550340  L330508P226188  2015-10-16  0.0066      5
8    63550341  L330508P226188  2015-11-09  0.0019      5
9    63550342  L330508P226188  2015-12-03  0.0105      5
10   63550343  L330508P226188  2015-12-27  0.0105      5
11   63550344  L330508P226188  2016-01-20  0.0067      5
12   63550345  L330508P226188  2016-02-13  0.0066      5
13   63550346  L330508P226188  2016-03-08  0.0051      5
14   63550347  L330508P226188  2016-04-01  0.0004      5
15   63550348  L330508P226188  2016-04-25  0.0174      5
16   63550349  L330508P226188  2016-05-19  0.0027      5
17   63550350  L330508P226188  2016-06-12  0.0093      5
18   63550351  L330508P226188  2016-07-06  0.0023      5
19   63550352  L330508P226188  2016-07-30  0.0016      5
20   63550353  L330508P226188  2016-08-23  0.0021      5
21   63550354  L330508P226188  2016-09-16  0.0010      5
22   63550355  L330508P226188  2016-10-10  0.0019      5
23   63550356  L330508P226188  2016-11-03  0.0106      5
24   63550357  L330508P226188  2016-11-27  0.0107      5
25   63550358  L330508P226188  2016-12-21  0.0146      5
26   63550359  L330508P226188  2017-01-14  0.0099      5
27   63550360  L330508P226188  2017-02-07  0.0100      5
28   63550361  L330508P226188  2017-03-03  0.0103      5
29   63550362  L330508P226188  2017-03-27  0.0035      5
..        ...             ...         ...     ...    ...
810  66018951  L330405P226240  2017-01-14  0.0085      2
811  66018952  L330405P226240  2017-02-07  0.0129      2
812  66018953  L330405P226240  2017-03-03  0.0085      2
813  66018954  L330405P226240  2017-03-27  0.0096      2
814  66018955  L330405P226240  2017-04-20  0.0041      2
815  66018956  L330405P226240  2017-05-14  0.0048      2
816  66018957  L330405P226240  2017-06-07 -0.0012      2
817  66018958  L330405P226240  2017-07-01  0.0019      2
818  66018959  L330405P226240  2017-07-25  0.0050      2
819  66018960  L330405P226240  2017-08-18  0.0090      2
820  66018961  L330405P226240  2017-09-11  0.0039      2
821  66018962  L330405P226240  2017-10-05  0.0115      2
822  66018963  L330405P226240  2017-10-29  0.0025      2
823  66018964  L330405P226240  2017-11-22  0.0068      2
824  66018965  L330405P226240  2017-12-16  0.0123      2
825  66018966  L330405P226240  2018-01-09  0.0124      2
826  66018967  L330405P226240  2018-02-02  0.0098      2
827  66018968  L330405P226240  2018-02-26  0.0037      2
828  66018969  L330405P226240  2018-03-22  0.0103      2
829  66018970  L330405P226240  2018-04-15  0.0095      2
830  66018971  L330405P226240  2018-05-09  0.0048      2
831  66018972  L330405P226240  2018-06-02  0.0015      2
832  66018973  L330405P226240  2018-06-26 -0.0012      2
833  66018974  L330405P226240  2018-07-20 -0.0030      2
834  66018975  L330405P226240  2018-08-13 -0.0089      2
835  66018976  L330405P226240  2018-09-06 -0.0076      2
836  66018977  L330405P226240  2018-09-30 -0.0075      2
837  66018978  L330405P226240  2018-10-24  0.0022      2
838  66018979  L330405P226240  2018-11-17  0.0018      2
839  66018980  L330405P226240  2018-12-11  0.0032      2

[840 rows x 5 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
id        840 non-null int64
pnt_id    840 non-null object
datum     840 non-null object
meting    840 non-null float64
sat_id    840 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 32.9+ KB

In [69]:
df['datum']=pd.to_datetime(df['datum'])
df['sat_id']=df['sat_id'].astype('int')

In [79]:
df.head()

           id          pnt_id      datum  meting  sat_id month maand
0    63550333  L330508P226188 2015-04-07     0.0       5    04    04
280  64610189  L330505P226173 2015-04-07     0.0       1    04    04
784  66018925  L330405P226240 2015-04-07     0.0       2    04    04
728  65890013  L330435P226240 2015-04-07     0.0       2    04    04
57   63550445  L330366P226115 2015-04-07     0.0       5    04    04

In [85]:
df1=df.loc[df['sat_id']==1]
df2=df.loc[df['sat_id']==2]
df3=df.loc[df['sat_id']==5]
df4=df.loc[df['sat_id']==6]

In [84]:
df1

           id          pnt_id      datum  meting  sat_id month maand
280  64610189  L330505P226173 2015-04-07  0.0000       1    04    04
392  64610413  L330374P226123 2015-04-07  0.0000       1    04    04
336  64610357  L329800P226087 2015-04-07  0.0000       1    04    04
308  64610190  L330505P226173 2015-05-01 -0.0131       1    05    05
337  64610358  L329800P226087 2015-05-01  0.0060       1    05    05
404  64610414  L330374P226123 2015-05-01 -0.0008       1    05    05
338  64610359  L329800P226087 2015-06-18  0.0010       1    06    06
405  64610415  L330374P226123 2015-06-18  0.0026       1    06    06
309  64610191  L330505P226173 2015-06-18 -0.0045       1    06    06
310  64610192  L330505P226173 2015-07-12 -0.0096       1    07    07
406  64610416  L330374P226123 2015-07-12 -0.0011       1    07    07
339  64610360  L329800P226087 2015-07-12  0.0029       1    07    07
311  64610193  L330505P226173 2015-08-05 -0.0129       1    08    08
407  64610417  L330374P226123 2015-08-05 -0.0047       1    08    08
340  64610361  L329800P226087 2015-08-05  0.0020       1    08    08
408  64610418  L330374P226123 2015-08-29 -0.0056       1    08    08
341  64610362  L329800P226087 2015-08-29 -0.0027       1    08    08
312  64610194  L330505P226173 2015-08-29 -0.0124       1    08    08
409  64610419  L330374P226123 2015-09-22 -0.0069       1    09    09
342  64610363  L329800P226087 2015-09-22 -0.0108       1    09    09
313  64610195  L330505P226173 2015-09-22 -0.0214       1    09    09
410  64610420  L330374P226123 2015-10-16 -0.0054       1    10    10
343  64610364  L329800P226087 2015-10-16  0.0012       1    10    10
314  64610196  L330505P226173 2015-10-16 -0.0185       1    10    10
344  64610365  L329800P226087 2015-11-09 -0.0052       1    11    11
411  64610421  L330374P226123 2015-11-09  0.0000       1    11    11
315  64610197  L330505P226173 2015-11-09  0.0041       1    11    11
316  64610198  L330505P226173 2015-12-03  0.0005       1    12    12
345  64610366  L329800P226087 2015-12-03 -0.0007       1    12    12
412  64610422  L330374P226123 2015-12-03 -0.0020       1    12    12
..        ...             ...        ...     ...     ...   ...   ...
382  64610403  L329800P226087 2018-05-09  0.0009       1    05    05
394  64610459  L330374P226123 2018-05-09 -0.0112       1    05    05
298  64610235  L330505P226173 2018-05-09 -0.0059       1    05    05
299  64610236  L330505P226173 2018-06-02  0.0007       1    06    06
395  64610460  L330374P226123 2018-06-02 -0.0063       1    06    06
383  64610404  L329800P226087 2018-06-02 -0.0050       1    06    06
396  64610461  L330374P226123 2018-06-26 -0.0138       1    06    06
300  64610237  L330505P226173 2018-06-26 -0.0103       1    06    06
384  64610405  L329800P226087 2018-06-26 -0.0014       1    06    06
301  64610238  L330505P226173 2018-07-20 -0.0154       1    07    07
397  64610462  L330374P226123 2018-07-20 -0.0172       1    07    07
385  64610406  L329800P226087 2018-07-20  0.0015       1    07    07
386  64610407  L329800P226087 2018-08-13  0.0034       1    08    08
398  64610463  L330374P226123 2018-08-13 -0.0137       1    08    08
302  64610239  L330505P226173 2018-08-13 -0.0084       1    08    08
387  64610408  L329800P226087 2018-09-06  0.0007       1    09    09
399  64610464  L330374P226123 2018-09-06 -0.0160       1    09    09
303  64610240  L330505P226173 2018-09-06 -0.0120       1    09    09
388  64610409  L329800P226087 2018-09-30 -0.0002       1    09    09
400  64610465  L330374P226123 2018-09-30 -0.0138       1    09    09
304  64610241  L330505P226173 2018-09-30 -0.0121       1    09    09
305  64610242  L330505P226173 2018-10-24 -0.0060       1    10    10
389  64610410  L329800P226087 2018-10-24  0.0022       1    10    10
401  64610466  L330374P226123 2018-10-24 -0.0191       1    10    10
306  64610243  L330505P226173 2018-11-17 -0.0055       1    11    11
390  64610411  L329800P226087 2018-11-17 -0.0012       1    11    11
402  64610467  L330374P226123 2018-11-17 -0.0191       1    11    11
391  64610412  L329800P226087 2018-12-11 -0.0004       1    12    12
403  64610468  L330374P226123 2018-12-11 -0.0226       1    12    12
307  64610244  L330505P226173 2018-12-11 -0.0017       1    12    12

[168 rows x 7 columns]

In [71]:


df=df.sort_values(by='datum')

In [72]:
df['maand'] = pd.to_datetime(df['datum']).dt.strftime('%m')

In [86]:
from sklearn.model_selection import train_test_split
y=[df1['meting'],df2['meting']]

x_train, x_test, y_train, y_test = train_test_split(y, df1['datum'], test_size=0.1, random_state=77)

ValueError: Found input variables with inconsistent numbers of samples: [2, 840]

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 7 columns):
id        840 non-null int64
pnt_id    840 non-null object
datum     840 non-null datetime64[ns]
meting    840 non-null float64
sat_id    840 non-null object
month     840 non-null object
maand     840 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 52.5+ KB

In [62]:
x_train, x_test, y_train, y_test = train_test_split (y,x, test_size=0.3, random_state = 89 , stratify = y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [39]:
lineaire_regressie(355, 50)

In [50]:
OmliggendeOmgeving(355,50)