In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sqlalchemy import create_engine

In [179]:
def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

In [180]:
def puntenverzamelaar (dataset,meters):
    #eindlist= []
    eindlist= pd.read_csv('csv boor.csv')
    #een for loop zodat alle rows in een dataframe wordt gebruikt om meer
    for row in dataset:
        eindlist["BoorID"] = dataset.loc[:, 'Boring']
        eindlist["Locatie"] = dataset.loc[:, 'Locatie']
        eindlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        eindlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        eindlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        eindlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return eindlist

In [181]:
df1=puntenverzamelaar(inactieveputtendf, 50)

In [185]:
df1

,BoorID,Locatie,MaxLat,MinLat,MaxLon,MinLon
0,132,Oude Hengelosedijk Enschede,52.233440,52.232542,6.782015,6.781117
1,259,Baardinkseweg Hengelo,52.239805,52.238907,6.814055,6.813157
2,343,Molenveld Enschede,52.216009,52.215111,6.798962,6.798064
3,357,Wullenweg Enschede,52.230072,52.229174,6.779836,6.778938

In [186]:
engine = create_engine('postgresql://postgres:Welkom01!@10.30.1.10:5432/POC')

In [197]:
df2= pd.read_sql("""
select * from meting m
join locatie l on
m.pnt_id = l.pnt_id;


""",engine)

In [204]:
import pandas as pd
import matplotlib.pyplot as plt

#datafile
inactieveputtendf= pd.read_csv('inactieve_putten - page 1 2.csv',sep=',',)

def GradenNaarMeters(meters):
   graden=(meters/30.92)/3600
   return graden

def puntenverzamelaar (dataset,meters):
    #eindlist= []
    eindlist= pd.read_csv('csv boor.csv')

    #een for loop zodat alle rows in een dataframe wordt gebruikt om meer
    for row in dataset:
        boorid = eindlist["BoorID"] = dataset.loc[:, 'Boring']
        locatie = eindlist["Locatie"] = dataset.loc[:, 'Locatie']
        maxlon = eindlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        minlon = eindlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        maxlat = eindlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        minlat = eindlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return eindlist
lijstje = puntenverzamelaar(inactieveputtendf, 100)
print(lijstje)

puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')

punten = []

for index, row in puntenlist.iterrows():
    for lijstje_index, lijstje_row in lijstje.iterrows() :
        if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and  row['pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat'] :
            print(lijstje_row['Locatie'])
            print(row['pnt_id'])
            print(row['pnt_lon'])
            print(row['pnt_lat'])

   BoorID                      Locatie     MaxLat     MinLat    MaxLon  \
0     132  Oude Hengelosedijk Enschede  52.233889  52.232093  6.782464
1     259        Baardinkseweg Hengelo  52.240254  52.238458  6.814504
2     343           Molenveld Enschede  52.216458  52.214662  6.799411
3     357           Wullenweg Enschede  52.230521  52.228725  6.780285

     MinLon
0  6.780668
1  6.812708
2  6.797615
3  6.778489
Wullenweg Enschede
L333643P226215
6.7793410000000005
52.230263
Wullenweg Enschede
L333639P226224
6.779458999999999
52.230268
Wullenweg Enschede
L333651P226234
6.779472
52.230295
Wullenweg Enschede
L333643P226204
6.779349000000001
52.230264
Wullenweg Enschede
L333670P226265
6.779631
52.230356
Wullenweg Enschede
L333714P226237
6.779427
52.230433000000005

In [208]:
def puntenverzamelaar (dataset,meters):
    #eindlist= []
    eindlist= pd.read_csv('csv boor.csv')

    #een for loop zodat alle rows in een dataframe wordt gebruikt om meer
    for row in dataset:
        boorid = eindlist["BoorID"] = dataset.loc[:, 'Boring']
        locatie = eindlist["Locatie"] = dataset.loc[:, 'Locatie']
        maxlon = eindlist["MaxLon"] = dataset.loc[:, 'pnt_lon'] + GradenNaarMeters(meters)
        minlon = eindlist["MinLon"] = dataset.loc[:, 'pnt_lon'] - GradenNaarMeters(meters)
        maxlat = eindlist["MaxLat"] = dataset.loc[:, 'pnt_lat'] + GradenNaarMeters(meters)
        minlat = eindlist["MinLat"] = dataset.loc[:, 'pnt_lat'] - GradenNaarMeters(meters)
    return eindlist
lijstje = puntenverzamelaar(inactieveputtendf, 1000)
print(lijstje)

puntenlist = pd.read_csv('prov_overijssel_eindhoven_rsat2_asc_xf_v2_ds_hoge_punten.csv')

punten = []
gekoppeldlijst = pd.read_csv('Punten gekoppeld aan zoutcaravens.csv')
for index, row in puntenlist.iterrows():
    for lijstje_index, lijstje_row in lijstje.iterrows() :
        if row['pnt_lon'] <= lijstje_row['MaxLon'] and row['pnt_lon'] >= lijstje_row['MinLon'] and  row['pnt_lat'] <= lijstje_row['MaxLat'] and row['pnt_lat'] >= lijstje_row['MinLat'] :
            gekoppeldlijst["BoorID"] = (lijstje_row['BoorID'])
            gekoppeldlijst["Locatie"] = (lijstje_row['Locatie'])
            gekoppeldlijst["MinLon"] = (lijstje_row['MinLon'])
            gekoppeldlijst["MaxLon"] = (lijstje_row['MaxLon'])
            gekoppeldlijst["MinLat"] = (lijstje_row['MinLat'])
            gekoppeldlijst["MaxLat"] = (lijstje_row['MaxLat'])
            gekoppeldlijst["pnt_id"] = (row['pnt_id'])
            gekoppeldlijst["pnt_lon"] = (row['pnt_lon'])
            gekoppeldlijst["pnt_lat"] = (row['pnt_lat'])

print(gekoppeldlijst)

   BoorID                      Locatie     MaxLat     MinLat    MaxLon  \
0     132  Oude Hengelosedijk Enschede  52.241975  52.224007  6.790550
1     259        Baardinkseweg Hengelo  52.248340  52.230372  6.822590
2     343           Molenveld Enschede  52.224544  52.206576  6.807497
3     357           Wullenweg Enschede  52.238607  52.220639  6.788371

     MinLon
0  6.772582
1  6.804622
2  6.789529
3  6.770403
Empty DataFrame
Columns: [BoorID, Locatie, MinLon, MaxLon, MinLat, MaxLat, pnt_id, pnt_lon, pnt_lat]
Index: []